<template>
    <div class="container">
        <div class="large-12 medium-12 small-12 cell">
            <label>File
                <input type="file" v-on:change="handleFileUpload()" ref="file"/>
            </label>
                <button v-on:click="submitFile()" class="btn btn-primary">Импортировать</button>
        </div>

        <p class="text-center font-weight-bold" style="font-size:large" v-show="state == ImportState.SUCCESS">Данные успешно импортированы!</p>

        <div style="display:flex;" class="justify-content-center" v-show="state == ImportState.WAITING">
            <div class="spinner-border" role="status" aria-hidden="true"></div>
        </div>
        <textarea class="form-control" v-show="state == ImportState.FAIL" style="min-height: 300px;" v-model="message"></textarea>
    </div>
</template>

<script>

import axios from 'axios'

const ImportState = {
  INIT: 0,
  WAITING: 1,
  SUCCESS: 2,
  FAIL: 3
}

export default {
  name: 'BatchModelImporter',
  components: { },
  props: {
    reqUrl: { default: '/api/import-models', type: String }
  },
  data () {
    return {
      file: '',
      message: '',
      state: ImportState.INIT
    }
  },
  created: function () {
    this.ImportState = ImportState
  },
  methods: {
    handleFileUpload () {
      this.file = this.$refs.file.files[0]
    },
    submitFile () {
      this.state = ImportState.WAITING

      const formData = new FormData()
      formData.append('file', this.file)
      axios.post(this.reqUrl,
        formData,
        {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }
      ).then(() => {
        this.state = ImportState.SUCCESS
      }).catch((err) => {
        this.state = ImportState.FAIL
        this.message = err.response.data.errors[0].title
      })
    }
  }
}
</script>
