<template>
  <div class="container">
      <button type="button" class="btn btn-primary btn-block mb-4" v-on:click="importData()">Импортировать</button>

      <p class="text-center font-weight-bold" style="font-size:large" v-show="state == ImportState.SUCCESS">Данные успешно импортированы!</p>

      <div style="display:flex;" class="justify-content-center" v-show="state == ImportState.WAITING">
          <div class="spinner-border" role="status" aria-hidden="true"></div>
      </div>
      <textarea class="form-control" v-show="state == ImportState.FAIL" style="min-height: 300px;" v-model="message"></textarea>
  </div>
</template>

<script>
import axios from 'axios'

const ImportState = {
  INIT: 0,
  WAITING: 1,
  SUCCESS: 2,
  FAIL: 3
}

export default {
  name: 'BatchImporter',
  components: { },
  props: {
    reqUrl: { default: '/api/import-sssmbes', type: String }
  },
  created: function () {
    this.ImportState = ImportState
  },
  mounted: function () {
  },
  data: function () {
    return {
      message: '',
      state: ImportState.INIT
    }
  },
  methods: {
    importData: function () {
      this.state = ImportState.WAITING

      axios.get(this.reqUrl)
        .then((res) => {
          this.state = ImportState.SUCCESS
        })
        .catch((err) => {
          this.state = ImportState.FAIL
          this.message = err.response.data.errors[0].title
        })
    }
  }
}
</script>

<style>
</style>
