<template>
    <div class="container-fluid" style="height:100%">
        <div class="row"  style="height:100%">
            <div class="col"  style="height:100%">
                <l-map ref="map" :options="{zoomSnap:0.1, contextmenu:true}" >
                    <l-tile-layer v-bind:url="tileUrl"></l-tile-layer>
                    <l-ruler position="topleft" />

                    <lat-long-control position="bottomleft" class="latlng-control"></lat-long-control>
                    <tile-layer-control ref="tileLayerSelector" :position="'bottomright'" v-on:tileLayerChanged="layerChanged($event)"></tile-layer-control>

                    <!-- <l-geo-json  v-bind:geojson="subZones" :options="zoneOption"></l-geo-json> -->
                    <l-geo-json ref="hazardLayer" v-bind:geojson="visibleHazards" :options="hazardOption"></l-geo-json>
                </l-map>
            </div>
            <div class="col-md-auto" v-show="containsHazards" style="max-width:300px">
                <div> <strong>Тип ОГПиЯ:</strong> </div>
                <div class="row" v-for="type in availHazardTypes" :key="type.name">
                    <div class="col-auto" style="padding-right:0px;">
                        <div class="hazard-type-color" v-bind:style="{ backgroundColor: type.color}"></div>
                    </div>
                    <label class="col">
                        <input type="checkbox" v-model="type.isActive">
                        {{type.name}}
                    </label>
                </div>
                <!-- <div class="form-check hazard-type" v-for="type in availHazardTypes" :key="type.name">
                    <div class = "hazard-type-color" v-bind:style="{ backgroundColor: type.color}"></div>
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="type.isActive">
                        {{type.name}}
                    </label>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>

import { LMap, LTileLayer, LGeoJson } from 'vue2-leaflet'
import LRuler from 'vue2-leaflet-ruler'
import LatLongControl from './LatLongControl.vue'
import TileLayerControl from './TileLayerControl.vue'

import 'geotiff'

import 'leaflet-geotiff-2'
import 'leaflet-geotiff-2/dist/leaflet-geotiff-rgb'
import 'leaflet-geotiff-2/dist/leaflet-geotiff-plotty'

import { getHazardTypeRep } from '../repositories/hazard_type_rep'
import { getInterpretedModelReqBuilder, getInterpretedModelRep } from '../repositories/interpreted_model_rep'

const L = require('leaflet')

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LRuler,
    LatLongControl,
    TileLayerControl
  },

  props: {
    modelId: {
      default: null, // null
      type: Number
    }
  },

  data () {
    return {
      tileUrl: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',

      model: null,

      availHazardTypes: [],

      latlng: { lat: null, lng: null }
    }
  },

  created () {
    this.hazardOption = { onEachFeature: this.onEachHazardFeature, style: this.featureStyle }

    this.hazardTypeRep = getHazardTypeRep()
    this.interpretedModelRep = getInterpretedModelRep()
  },

  mounted () {
    // Set esri tile layer
    const mapObject = this.$refs.map.mapObject

    // For debugging :)
    window.mapObject = mapObject

    this.initModel(this.modelId)
  },

  methods: {
    onEachHazardFeature (feature, layer) {
      // Bind tooltip to hazard
      layer.bindTooltip(feature.properties.name, { sticky: true })
    },
    featureStyle (feature) {
      return this.hazardStyle(feature.properties)
    },
    hazardStyle (entity) {
      const color = this.hazardTypeRep.getById(entity.type).color
      const style = { fillColor: color, color: color }
      return style
    },
    fitToBounds (bounds) {
      // this.$refs.map.mapObject.fitBounds(bounds, {padding: [0, 0]});
      const newBound = bounds.pad(0.2)

      const mapObj = this.$refs.map.mapObject

      mapObj.setMaxBounds(null)
      mapObj.setMinZoom(null)

      setTimeout(() => {
        mapObj.fitBounds(newBound)
        mapObj.setMinZoom(mapObj.getBoundsZoom(newBound))
        // this.$refs.map.mapObject.flyToBounds(newBound)
      }, 100)

      // this.maxBoundsTimer = setTimeout(()=>{
      //     this.$refs.map.mapObject.setMaxBounds(newBound);
      // }, 2500);
    },
    extractTypes () {
      if (this.model == null) return []

      const hazardIds = new Set()
      for (const hazard of this.model.hazards) {
        hazardIds.add(hazard.type)
      }

      const hazardTypes = []
      for (const hazardId of hazardIds) {
        const hazardType = this.hazardTypeRep.getById(hazardId)
        hazardTypes.push(hazardType)
      }
      hazardTypes.sort((a, b) => a.name.localeCompare(b.name))

      return hazardTypes
    },
    initModel (modelId) {
      this.interpretedModelRep.getById(modelId).then((data) => {
        this.model = data
        this.availHazardTypes = this.extractTypes().map((el) => {
          el.isActive = true
          return el
        })
        if (this.model.area != null) {
          this.fitToBounds(L.geoJson(this.model.area).getBounds())
        }

        const reqBuilder = getInterpretedModelReqBuilder()
        const backgroundUrl = reqBuilder.getBackgroundDownloadLink(this.modelId)

        // Promise for background loading (if don't wrap it in the promise we would
        // be forced to wait geotiff loading before showing anything)
        this.$nextTick(() => {
          this.backgroundLayer = L.leafletGeotiff(backgroundUrl, {
            name: 'Wind speed',
            // renderer: L.LeafletGeotiff.plotty({colorScale: 'rainbow', displayMin: 0, displayMax: 255,}),
            renderer: L.LeafletGeotiff.rgb(),
            // band: 0,

            alphaBand: 3

            // clampLow: false,
            // clampHigh: true,
            // vector:true,
            // arrowSize: 20,
          }).addTo(this.$refs.map.mapObject)

          // For debugging :)
          window.geotiffLayer = this.backgroundLayer
        })
      })
    },
    layerChanged (newTileUrl) {
      this.tileUrl = newTileUrl
    }
  },
  computed: {
    // Filters entities according to selected by user criteria
    visibleHazards () {
      if (this.model == null) { return { type: 'FeatureCollection', features: [] } }

      const vh = []
      for (const hazard of this.model.hazards) {
        if (this.activeHazardTypes.has(hazard.type)) {
          vh.push(hazard)
        }
      }

      const hazardToFeature = function (hazard) {
        return { type: 'Feature', geometry: hazard.shape, properties: hazard }
      }

      return { type: 'FeatureCollection', features: vh.map(hazardToFeature) }
    },
    // Returns if there is any survey/mosaic in current zone
    containsHazards () {
      if (this.model == null) return []
      return this.model.hazards && this.model.hazards.length > 0
    },
    activeHazardTypes () {
      const aht = new Set()
      for (const ht of this.availHazardTypes) {
        if (ht.isActive) aht.add(ht.id)
      }
      return aht
    }
  },
  watch: {
    modelId () {
      this.initModel(this.modelId)
    }
  }
}
</script>

<style scoped>
    .latlng-control{
        /* -webkit-text-stroke-width: 0.5px; */
        /* -webkit-text-stroke-color: black; */
        font-size: 14px;
        color: black;
        background: rgba(255, 255, 255, 0.5);
        padding-left: 5px;
        padding-right: 5px;
    }
    .hazard-type {
        max-width: 300px;
        padding-left: 20px;
        position: relative;
    }
    .hazard-type-color {
        display: inline-block;
        width: 15px;
        height: 15px;
        /* position: relative; */
        /* left: -20px; */
        vertical-align: middle;
    }
</style>
