<template>
    <div>
        {{'lat: '+latlng.lat+", lng: "+latlng.lng}}
    </div>
</template>

<script>
import { LControl } from 'vue2-leaflet'

export default {
  name: 'LatLongControl',
  mixins: [LControl],
  props: {},
  data () {
    return {
      latlng: { lat: null, lng: null }
    }
  },
  mounted () {
    const moveListener = (ev) => { this.latlng = ev.latlng }
    this.$parent.mapObject.addEventListener('mousemove', moveListener)
    this.$once('hook:beforeDestroy', () => {
      this.$parent.mapObject.removeListener('mousemove', moveListener)
    })
  }
}
</script>
