<template>
    <div class="container-fluid" style="height:100%">
        <div class="row"  style="height:100%">
            <div class="col"  style="height:100%">
                <l-map ref="map" :options="{zoomSnap:0.1, contextmenu:true}">
                    <l-tile-layer v-bind:url="tileUrl"></l-tile-layer>
                    <l-ruler position="topleft" />

                    <lat-long-control position="bottomleft" class="latlng-control"></lat-long-control>
                    <tile-layer-control ref="tileLayerSelector" :position="'bottomright'" v-on:tileLayerChanged="layerChanged($event)"></tile-layer-control>

                    <l-control position="topright"  v-show="hasParent">
                        <button @click="toParent" class="btn btn-primary">
                            {{parentName}}
                        </button>
                    </l-control>

                    <l-geo-json  v-bind:geojson="subZones" :options="zoneOption"></l-geo-json>
                    <l-geo-json ref="entityLayer" v-bind:geojson="filteredEntities" :options="entityOption" @click="onEntityClick"></l-geo-json>
                </l-map>
            </div>
            <div class="col-md-auto" v-show="containsEntities">
                <div> <strong>Тип:</strong> </div>
                <div class="form-check" v-for="type in availEntityTypes" :key="type.name">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="type.selected">
                        {{type.name}}
                    </label>
                </div>

                <div><strong>Направление:</strong></div>
                <div class="form-check" v-for="dir in availDirections" :key="dir.name">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="dir.selected">
                        {{dir.name}}
                    </label>
                </div>

                <div><strong>Годы:</strong></div>
                <div class="form-check" v-for="year in availYears" :key="year.year">
                    <label class="form-check-label" for="flexCheckDefault">
                        <input class="form-check-input" type="checkbox" v-model="year.selected">
                        {{year.year}}
                    </label>
                </div>

                <div><strong>Инструменты:</strong></div>
                <div class="form-check" v-for="tool in availTools" :key="tool.name">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="tool.selected">
                        {{tool.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import L from 'leaflet'
import { LMap, LTileLayer, LGeoJson, LControl } from 'vue2-leaflet'
import LRuler from 'vue2-leaflet-ruler'

import LatLongControl from './LatLongControl.vue'
import TileLayerControl from './TileLayerControl.vue'

// Import repositories
import { getZoneRep } from '../repositories/zone_rep'
import { getSssMbesSurveyReqBuilder } from '../repositories/sssmbes_survey_rep'
import { getMosaicReqBuilder } from '../repositories/mosaic_rep'
import { getSeismic2dSurveyReqBuilder } from '../repositories/seismic2d_survey_rep'
import { getSeismic2dStackReqBuilder } from '../repositories/seismic2d_stack_rep'
import { getSeismic3dSurveyReqBuilder } from '../repositories/seismic3d_survey_rep'
import { getSeismic3dStackReqBuilder } from '../repositories/seismic3d_stack_rep'

import { EntityType, getEntityType, getSeismicResolutionColorMap } from '../marine_utils'

import value_equals from '../third_party/value_equals'

import { copyTextToClipboard } from '../clipboard'

// const esriLeaflet = require('esri-leaflet')

function download (url) {
  const a = document.createElement('A')
  a.href = url
  // a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
  a.target = '_blank'
  document.body.appendChild(a)
  a.click()
  document.body.removeChild(a)
}

function entityTypeToString (entityType) {
  switch (entityType) {
    case EntityType.sssSurvey:
      return 'ГЛБО'
    case EntityType.mbesSurvey:
      return 'МЛЭ'
    case EntityType.mosaic:
      return 'Мозайка'
    case EntityType.seismic2dSurvey:
      return '2D сейсмика'
    case EntityType.seismic3dSurvey:
      return '3D сейсмика'
    case EntityType.interpretedModel:
      return 'Модель'
  }
  return 'неизвестный'
}

function entityToFeature (entity) {
  return { type: 'Feature', geometry: entity.area, properties: entity }
}

const seismicResolColorMap = getSeismicResolutionColorMap()

function getEntityColor (entity) {
  const entityType = getEntityType(entity)
  switch (entityType) {
    case EntityType.sssSurvey:
    case EntityType.mbesSurvey:
      return entity.tool.mapColor
    case EntityType.mosaic:
      return entity.mainTool.mapColor
    case EntityType.seismic2dSurvey:
    case EntityType.seismic3dSurvey:
      return seismicResolColorMap.getColorById(entity.resolution.id)
  }
  const defaultColor = '#34E61C' // green
  return defaultColor
}

function getEntityReqBuilder (entityType) {
  switch (entityType) {
    case EntityType.sssSurvey:
    case EntityType.mbesSurvey:
      return getSssMbesSurveyReqBuilder()
    case EntityType.mosaic:
      return getMosaicReqBuilder()
    case EntityType.seismic2dSurvey:
      return getSeismic2dSurveyReqBuilder()
    case EntityType.seismic3dSurvey:
      return getSeismic3dSurveyReqBuilder()
  }
}

function getToolName (tool) {
  if (tool.hasOwnProperty('name')) return tool.name
  return [tool.brand, tool.model].filter(el => el != null).join(' ')
}

function buildEntityContextMenu (entity) {
  const cmenu = {
    contextmenu: true,
    contextmenuInheritItems: false,
    hideOnSelect: true,
    contextmenuItems: []
  }

  const entityType = getEntityType(entity)
  // Add name of entity
  cmenu.contextmenuItems.push({ text: entity.name })
  cmenu.contextmenuItems.push({ separator: true })
  // Add type
  cmenu.contextmenuItems.push({ text: 'Тип: ' + entityTypeToString(entityType) })
  if (entityType !== EntityType.interpretedModel) {
    // Add tool
    let toolName = 'Неизвестный'
    switch (entityType) {
      case EntityType.sssSurvey:
      case EntityType.mbesSurvey:
        toolName = getToolName(entity.tool)
        break
      case EntityType.mosaic:
        toolName = getToolName(entity.mainTool)
        break
      case EntityType.seismic2dSurvey:
      case EntityType.seismic3dSurvey:
        toolName = entity.source.name
        break
    }
    cmenu.contextmenuItems.push({ text: 'Инструмент: ' + toolName })

    // Add direction
    let dir = 'неизвестно'
    switch (entityType) {
      case EntityType.sssSurvey:
      case EntityType.mbesSurvey:
      case EntityType.seismic2dSurvey:
      case EntityType.seismic3dSurvey:
        dir = entity.direction
        break
      case EntityType.mosaic:
        dir = entity.inputDirection
        break
      case EntityType.interpretedModel:
        dir = 'отсутствует'
        break
    }
    cmenu.contextmenuItems.push({ text: 'Направленность: ' + dir })
  }

  if (entityType === EntityType.interpretedModel) {
    cmenu.contextmenuItems.push({
      text: 'Просмотр',
      callback: () => {
        window.open('/interpreted-model-viewer/#/' + entity.id, '_blank').focus()
      }
    })
  }

  // If entity is downloadable then add link for watching and downloading
  if (entity.isDownloadable) {
    const reqBuilder = getEntityReqBuilder(entityType)
    if (entity.fileSize) {
      cmenu.contextmenuItems.push({ text: 'Скачать файл', callback: function () { download(reqBuilder.getFileDownloadLink(entity.id)) } })
      cmenu.contextmenuItems.push({
        text: 'Скопировать ссылку на файл',
        callback: function () {
          const text = reqBuilder.getFileDownloadLink(entity.id)
          // navigator.clipboard.writeText(text);
          copyTextToClipboard(text)
        }
      })
    }
    if (entity.archSize) {
      cmenu.contextmenuItems.push({ text: 'Скачать архив', callback: function () { download(reqBuilder.getArchDownloadLink(entity.id)) } })
    }
    if (entity.stacks) {
      if (entityType === EntityType.seismic2dSurvey) {
        const stackReqBuilder = getSeismic2dStackReqBuilder()
        for (const stack of entity.stacks) {
          cmenu.contextmenuItems.push({ text: 'Смотреть стек: ' + stack.name, callback: () => { window.open('/seismic2d-stack-viewer/#/' + stack.id, '_blank').focus() } })
          cmenu.contextmenuItems.push({ text: 'Скачать стек: ' + stack.name, callback: function () { download(stackReqBuilder.getFileDownloadLink(stack.id)) } })

          cmenu.contextmenuItems.push({
            text: 'Скопировать ссылку на стек: ' + stack.name,
            callback: function () {
              const text = stackReqBuilder.getFileDownloadLink(stack.id)
              // navigator.clipboard.writeText(text);
              copyTextToClipboard(text)
            }
          })
        }
      }
      if (entityType === EntityType.seismic3dSurvey) {
        const stackReqBuilder = getSeismic3dStackReqBuilder()
        for (const stack of entity.stacks) {
          cmenu.contextmenuItems.push({ text: 'Скачать стек: ' + stack.name, callback: function () { download(stackReqBuilder.getFileDownloadLink(stack.id)) } })
          cmenu.contextmenuItems.push({
            text: 'Скопировать ссылку на стек: ' + stack.name,
            callback: function () {
              const text = stackReqBuilder.getFileDownloadLink(stack.id)
              // navigator.clipboard.writeText(text);
              copyTextToClipboard(text)
            }
          })
        }
      }
    }
  }

  return cmenu
}

function getYear (dateStr) {
  return new Date(dateStr).getUTCFullYear()
}

function includes (arr, criteria) {
  for (const el of arr) {
    if (criteria(el)) return true
  }

  return false
}

export default {
  components: {
    LMap,
    LTileLayer,
    LGeoJson,
    LControl,
    LRuler,
    LatLongControl,
    TileLayerControl
  },

  props: {
    zoneId: {
      default: null, // null, 0 - All zones
      type: Number
    }
  },

  data () {
    return {
      tileUrl: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoneData: 0,

      availEntityTypes: [],
      availDirections: [],
      availYears: [],
      availTools: []
    }
  },

  async created () {
    this.entityOption = { onEachFeature: this.onEachEntity, style: this.featureStyle }
    this.zoneOption = { onEachFeature: this.onEachZone }

    // Init sets for selected entities
    this.selectedEntities = []
    for (const entityTypeName in EntityType) {
      this.selectedEntities[EntityType[entityTypeName]] = new Set()
    }

    this.worldPolygon = { type: 'Polygon', coordinates: [[[-180, 90], [180, 90], [180, -90], [-180, -90], [-180, 90]]] }
    this.worldBounds = L.geoJson(this.worldPolygon).getBounds()
  },

  mounted () {
    // Hide context menu by map click
    const mapObject = this.$refs.map.mapObject
    // esriLeaflet.basemapLayer('ImageryClarity').addTo(mapObject);

    //
    mapObject.on('click', (e) => {
      // Hide context menu
      mapObject.contextmenu.hide()
      // Also deselect all selected object (but only if ctrl was not pressed)
      if (!e.originalEvent.ctrlKey) {
        this.deselectAllEntities()
      }
    })

    mapObject.contextmenu.addItem({
      text: 'Скопировать ссылки на видимые объекты',
      callback: () => {
        const entities = this.filteredEntities.features.map(f => f.properties)
        const links = this.getDownloadLinksForEntities(entities)
        copyTextToClipboard(links.join('\n'))
      }
    })

    mapObject.contextmenu.addItem({
      text: 'Скопировать ссылки на выделенные объекты',
      callback: () => {
        const selectedEntities = this.getSelectedEntities()
        const links = this.getDownloadLinksForEntities(selectedEntities)
        copyTextToClipboard(links.join('\n'))
      }
    })

    // this.tileUrl = this.$refs.tileLayerSelector.data.selectedLayer

    this.initZone(this.zoneId)
  },

  methods: {
    onEntityClick (e) {
      L.DomEvent.stopPropagation(e)
      const entity = e.sourceTarget.feature.properties
      if (e.originalEvent.ctrlKey) {
        // If it is click with ctrl we have to select entity or
        // deselect if it has been already selected
        if (this.isEntitySelected(entity)) this.deselectEntity(entity, e.layer)
        else this.selectEntity(entity)
      } else {
        // If it is click without ctrl than we have to select entity and
        // deselect other entities (if they were selected)
        this.deselectAllEntities()
        this.selectEntity(entity, e.layer)
      }
    },
    layerChanged (newTileUrl) {
      this.tileUrl = newTileUrl
    },
    // Deselects entity
    deselectEntity (entity, layer = null) {
      const entityType = getEntityType(entity)
      this.selectedEntities[entityType].delete(entity.id)

      if (layer == null) layer = this.getLayerForEntity(entity)
      if (layer) layer.setStyle(this.entityStyle(entity))
    },
    // Checks if entity selected
    isEntitySelected (entity) {
      const entityType = getEntityType(entity)
      return this.selectedEntities[entityType].has(entity.id)
    },
    // Selects entity
    selectEntity (entity, layer = null) {
      // Add entity id to correspoding selected... array
      const entityType = getEntityType(entity)
      this.selectedEntities[entityType].add(entity.id)

      if (layer == null) layer = this.getLayerForEntity(entity)
      if (layer) layer.setStyle(this.entityStyle(entity))
    },
    // Returns leaflet layer for given entity type and id pair
    getLayerForEntityByTypeId (entityType, entityId) {
      for (const layer of this.$refs.entityLayer.mapObject.getLayers()) {
        const layerEntity = layer.feature.properties
        const layerEntityType = getEntityType(layerEntity)
        if (layerEntityType === entityType && layerEntity.id === entityId) {
          return layer
        }
      }
      return null
    },
    getLayerForEntity (entity) {
      const entityType = getEntityType(entity)
      return this.getLayerForEntityByTypeId(entityType, entity.id)
    },
    deselectAllEntities () {
      const layers = []

      // Clear all selected sets
      for (const entityTypeName in EntityType) {
        const entityType = EntityType[entityTypeName]

        for (const entityId of this.selectedEntities[entityType].values()) {
          layers.push(this.getLayerForEntityByTypeId(entityType, entityId))
        }
        this.selectedEntities[entityType].clear()
      }

      // Redraw corresponding layers
      for (const layer of layers) {
        layer.setStyle(this.entityStyle(layer.feature.properties))
      }
    },
    getEntityArrByType (type) {
      switch (type) {
        case EntityType.sssSurvey:
        case EntityType.mbesSurvey:
          return this.zoneData.sssMbesSurveys
        case EntityType.mosaic:
          return this.zoneData.mosaics
        case EntityType.seismic2dSurvey:
          return this.zoneData.seismic2dSurveys
        case EntityType.seismic3dSurvey:
          return this.zoneData.seismic3dSurveys
      }
      return null
    },
    getEntityByTypeAndId (type, id) {
      const entities = this.getEntityArrByType(type)
      if (entities == null) return null

      if ([EntityType.sssSurvey, EntityType.mbesSurvey].includes(type)) {
        for (const entity of entities) {
          if (entity.id === id && getEntityType(entity) === type) { return entity }
        }
      } else {
        for (const entity of entities) {
          if (entity.id === id) return entity
        }
      }

      return null
    },
    onEachEntity (feature, layer) {
      // Bind context menu and tooltip for entity
      const cmenu = buildEntityContextMenu(feature.properties)
      layer.bindContextMenu(cmenu)
      layer.bindTooltip(feature.properties.name, { sticky: true })
    },
    featureStyle (feature) {
      return this.entityStyle(feature.properties)
    },
    entityStyle (entity) {
      const defaultColor = getEntityColor(entity)
      const style = { fillColor: defaultColor, color: defaultColor }
      if (this.isEntitySelected(entity)) {
        style.color = '#FF0000'
      }
      return style
    },
    onEachZone (feature, layer) {
      const that = this
      layer.bindTooltip(feature.properties.name, { sticky: true })
      layer.on('click', function (e) {
        that.$router.push({ name: 'zone', params: { zoneId: feature.properties.id } })
      })
    },
    getDownloadReqBuilder (entityType) {
      switch (entityType) {
        case EntityType.sssSurvey:
        case EntityType.mbesSurvey:
          return getSssMbesSurveyReqBuilder()
        case EntityType.mosaic:
          return getMosaicReqBuilder()
        case EntityType.seismic2dSurvey:
          return getSeismic2dStackReqBuilder()
        case EntityType.seismic3dSurvey:
          return getSeismic3dStackReqBuilder()
      }
      return null
    },
    getDownloadLinkForEntity (entity) {
      const entityType = getEntityType(entity)
      switch (entityType) {
        case EntityType.sssSurvey:
        case EntityType.mbesSurvey:
        case EntityType.mosaic:
          return this.getDownloadReqBuilder(entityType).getFileDownloadLink(entity.id)
        case EntityType.seismic2dSurvey:
        case EntityType.seismic3dSurvey:
          if (entity.stacks.length) {
            const reqBuilder = this.getDownloadReqBuilder(entityType)
            return reqBuilder.getFileDownloadLink(entity.stacks[0].id)
          }
      }
      return null
    },
    getDownloadLinksForEntities (entities) {
      const links = []
      for (const entity of entities) {
        const link = this.getDownloadLinkForEntity(entity)
        if (link) links.push(link)
      }
      return links
    },
    getSelectedEntities () {
      const entities = []
      for (const entityTypeName in EntityType) {
        const entityType = EntityType[entityTypeName]

        for (const entityId of this.selectedEntities[entityType].values()) {
          const entity = this.getEntityByTypeAndId(entityType, entityId)
          entities.push(entity)
        }
      }
      return entities
    },
    fitToZone (zone) {
      const bounds = L.geoJson(zone.area).getBounds()
      this.fitToBounds(bounds)
    },
    fitToBounds (bounds) {
      const mapObj = this.$refs.map.mapObject

      clearTimeout(this.maxBoundsTimer)
      // this.$refs.map.mapObject.fitBounds(bounds, {padding: [0, 0]});
      const newBound = bounds.pad(0.1)

      mapObj.setMaxBounds(null)
      mapObj.setMinZoom(null)

      setTimeout(() => {
        // mapObj.fitBounds(newBound);
        mapObj.flyToBounds(newBound)
      }, 100)

      this.maxBoundsTimer = setTimeout(() => {
        mapObj.setMaxBounds(newBound)
        mapObj.setMinZoom(mapObj.getBoundsZoom(newBound))
      }, 2500)
    },
    extractFilters () {
      if (Array.isArray(this.zoneData)) {
        this.availEntityTypes = this.availDirections = this.availYears = this.availTools = []
        return
      }

      const foundEntityTypes = []
      const directions = []
      const years = []
      const tools = []

      for (const sssMbesSurv of this.zoneData.sssMbesSurveys) {
        if (!foundEntityTypes.includes(getEntityType(sssMbesSurv))) foundEntityTypes.push(getEntityType(sssMbesSurv))
        if (!directions.includes(sssMbesSurv.direction)) directions.push(sssMbesSurv.direction)
        const year = getYear(sssMbesSurv.startDate)
        if (!years.includes(year)) years.push(year)
        // tools
        if (!includes(tools, el => el.id === sssMbesSurv.tool.id)) tools.push(sssMbesSurv.tool)
      }

      if (this.zoneData.mosaics.length) {
        foundEntityTypes.push(EntityType.mosaic)
        for (const mosaic of this.zoneData.mosaics) {
          if (!directions.includes(mosaic.inputDirection)) directions.push(mosaic.inputDirection)
          const year = getYear(mosaic.creationDate)
          if (!years.includes(year)) years.push(year)
          // tools
          if (!includes(tools, el => el.id === mosaic.mainTool.id)) tools.push(mosaic.mainTool)
        }
      }

      if (this.zoneData.seismic2dSurveys.length) {
        foundEntityTypes.push(EntityType.seismic2dSurvey)
        for (const surv of this.zoneData.seismic2dSurveys) {
          if (!directions.includes(surv.direction)) directions.push(surv.direction)
          const year = getYear(surv.startDate)
          if (!years.includes(year)) years.push(year)
          // tools
          if (!includes(tools, el => el.name && el.id === surv.source.id)) tools.push(surv.source)
        }
      }

      if (this.zoneData.seismic3dSurveys.length) {
        foundEntityTypes.push(EntityType.seismic3dSurvey)
        for (const surv of this.zoneData.seismic3dSurveys) {
          if (!directions.includes(surv.direction)) directions.push(surv.direction)
          const year = getYear(surv.startDate)
          if (!years.includes(year)) years.push(year)
          // tools
          if (!includes(tools, el => el.name && el.id === surv.source.id)) tools.push(surv.source)
        }
      }

      if (this.zoneData.interpretedModels.length) {
        foundEntityTypes.push(EntityType.interpretedModel)
        for (const model of this.zoneData.interpretedModels) {
          const year = getYear(model.creationDate)
          if (!years.includes(year)) years.push(year)
        }
      }

      // Init entity types
      const entityTypes = [
        { key: EntityType.sssSurvey, name: 'ГЛБО' },
        { key: EntityType.mbesSurvey, name: 'МЛЭ' },
        { key: EntityType.mosaic, name: 'Мозайка' },
        { key: EntityType.seismic2dSurvey, name: 'Сейсмика 2D' },
        { key: EntityType.seismic3dSurvey, name: 'Сейсмика 3D' },
        { key: EntityType.interpretedModel, name: 'Модель' }
      ]

      this.availEntityTypes = []
      for (const entityType of entityTypes) {
        if (foundEntityTypes.includes(entityType.key)) {
          const e = Object.assign({}, entityType)
          e.selected = true
          this.availEntityTypes.push(e)
        }
      }

      this.availDirections = []
      for (const dir of ['L', 'X', 'D', 'I']) {
        if (directions.includes(dir)) {
          this.availDirections.push({ name: dir, selected: true })
        }
      }

      this.availYears = []
      years.sort((a, b) => a - b)
      for (const year of years) {
        this.availYears.push({ year: year, selected: true })
      }

      this.availTools = []
      for (const tool of tools) {
        this.availTools.push({ name: getToolName(tool), data: tool, selected: true })
      }
    },
    toParent () {
      if (!this.hasParent) return

      const parentZoneId = this.zoneData.parentZone == null ? 0 : this.zoneData.parentZone.id
      this.$router.push({ name: 'zone', params: { zoneId: parentZoneId } })
    },
    findZoneById (zoneId) {
      if (Array.isArray(this.zoneData)) {
        for (const zone of this.zoneData) {
          if (zone.id === zoneId) {
            return zone
          }
        }
      } else if (this.zoneData) {
        if (this.zoneData.id === zoneId) return this.zoneData
        if (this.zoneData.parentZone && this.zoneData.parentZone.id === zoneId) return this.zoneData.parentZone
        for (const zone of this.zoneData.subzones) {
          if (zone.id === zoneId) {
            return zone
          }
        }
      }
      return null
    },
    async initZone (zoneId) {
      const zoneRep = getZoneRep()

      let zoneDataPromise = null
      if (zoneId == null || zoneId === 0) {
        zoneDataPromise = zoneRep.getRoot()
      } else {
        zoneDataPromise = zoneRep.getById(zoneId)
      }

      // Try to zoom to zone before it is recieved from server
      let zoomedToZone = false
      if (zoneId === 0) {
        this.fitToBounds(this.worldBounds)
        zoomedToZone = true
      } else {
        const zone = this.findZoneById(zoneId)
        if (zone) {
          this.fitToZone(zone)
          zoomedToZone = true
        }
      }

      // Clear map
      this.zoneData = null

      // Init new data and zoom to zone if necessary
      zoneDataPromise.then((data) => {
        this.zoneData = data

        if (!zoomedToZone) {
          this.fitToZone(this.zoneData)
        }

        this.extractFilters()
      })
    }
  },
  computed: {
    // Filters entities according to selected by user criteria
    filteredEntities () {
      if (this.zoneData == null) { return { type: 'FeatureCollection', features: [] } }

      // Find selected entity types, directions, years and tools
      const selectedEntityTypes = []
      for (const entityType of this.availEntityTypes) {
        if (entityType.selected) selectedEntityTypes.push(entityType.key)
      }

      const selectedDirections = []
      for (const dir of this.availDirections) {
        if (dir.selected) selectedDirections.push(dir.name)
      }

      const selectedYears = []
      for (const year of this.availYears) {
        if (year.selected) selectedYears.push(year.year)
      }

      const selectedTools = []
      for (const tool of this.availTools) {
        if (tool.selected) selectedTools.push(tool.data)
      }

      const resEntities = []
      if (this.zoneData.sssMbesSurveys != null) {
        for (const surv of this.zoneData.sssMbesSurveys) {
          if (!selectedEntityTypes.includes(getEntityType(surv))) { this.deselectEntity(surv); continue }
          if (!selectedDirections.includes(surv.direction)) { this.deselectEntity(surv); continue }
          if (!selectedYears.includes(getYear(surv.startDate))) { this.deselectEntity(surv); continue }
          if (!includes(selectedTools, el => value_equals(el, surv.tool))) { this.deselectEntity(surv); continue }
          resEntities.push(surv)
        }
      }

      if (this.zoneData.mosaics != null) {
        for (const mosaic of this.zoneData.mosaics) {
          if (!selectedEntityTypes.includes(EntityType.mosaic)) { this.deselectEntity(mosaic); continue }
          if (!selectedDirections.includes(mosaic.inputDirection)) { this.deselectEntity(mosaic); continue }
          if (!selectedYears.includes(getYear(mosaic.creationDate))) { this.deselectEntity(mosaic); continue }
          if (!includes(selectedTools, el => value_equals(el, mosaic.mainTool))) { this.deselectEntity(mosaic); continue }
          resEntities.push(mosaic)
        }
      }

      if (this.zoneData.seismic2dSurveys != null) {
        for (const surv of this.zoneData.seismic2dSurveys) {
          if (!selectedEntityTypes.includes(EntityType.seismic2dSurvey)) { this.deselectEntity(surv); continue }
          if (!selectedDirections.includes(surv.direction)) { this.deselectEntity(surv); continue }
          if (!selectedYears.includes(getYear(surv.startDate))) { this.deselectEntity(surv); continue }
          if (!includes(selectedTools, el => value_equals(el, surv.source))) { this.deselectEntity(surv); continue }
          resEntities.push(surv)
        }
      }

      if (this.zoneData.seismic3dSurveys != null) {
        for (const surv of this.zoneData.seismic3dSurveys) {
          if (!selectedEntityTypes.includes(EntityType.seismic3dSurvey)) { this.deselectEntity(surv); continue }
          if (!selectedDirections.includes(surv.direction)) { this.deselectEntity(surv); continue }
          if (!selectedYears.includes(getYear(surv.startDate))) { this.deselectEntity(surv); continue }
          if (!includes(selectedTools, el => value_equals(el, surv.source))) { this.deselectEntity(surv); continue }
          resEntities.push(surv)
        }
      }

      if (this.zoneData.interpretedModels != null) {
        for (const model of this.zoneData.interpretedModels) {
          if (!selectedEntityTypes.includes(EntityType.interpretedModel)) { this.deselectEntity(model); continue }
          if (!selectedYears.includes(getYear(model.creationDate))) { this.deselectEntity(model); continue }
          resEntities.push(model)
        }
      }

      return { type: 'FeatureCollection', features: resEntities.map(entityToFeature) }
    },
    // Returns if there is any survey/mosaic in current zone
    containsEntities () {
      if (Array.isArray(this.zoneData) || !this.zoneData) return false
      return (this.zoneData.sssMbesSurveys && this.zoneData.sssMbesSurveys.length > 0) ||
                (this.zoneData.mosaics && this.zoneData.mosaics.length > 0) ||
                (this.zoneData.seismic2dSurveys && this.zoneData.seismic2dSurveys.length > 0) ||
                (this.zoneData.seismic3dSurveys && this.zoneData.seismic3dSurveys.length > 0)
    },
    subZones () {
      let subZones = []
      // Zone data is array of root zones
      if (Array.isArray(this.zoneData)) {
        subZones = this.zoneData
      } else if (this.zoneData) {
        subZones = this.zoneData.subzones
      }
      return { type: 'FeatureCollection', features: subZones.map(entityToFeature) }
    },
    hasParent () {
      if (this.zoneData == null || !this.zoneData.hasOwnProperty('id')) return false
      return true
    },
    parentName () {
      if (!this.hasParent) return null
      if (this.zoneData.parentZone == null) return 'Мир'
      return this.zoneData.parentZone.name
    }
  },
  watch: {
    zoneId () {
      this.initZone(this.zoneId)
    }
  }
}
</script>

<style scoped>
    .latlng-control{
        /* -webkit-text-stroke-width: 0.5px; */
        /* -webkit-text-stroke-color: black; */
        font-size: 14px;
        color: black;
        background: rgba(255, 255, 255, 0.5);
        padding-left: 5px;
        padding-right: 5px;
    }
</style>
