<template>
  <Searcher
    :done-interval="doneInterval"
    :search-functor="searchMosaics"
    :key-name-extractor="keyNameExtractor"
    :placeholder="'Поиск мозаик'"
    v-on:result-selected="handleSelect"
    ref="searcher"
  />
</template>

<script>
import axios from 'axios'

import Searcher from './Searcher.vue'

export default {
  name: 'MosaicSearcher',
  components: { Searcher },
  props: {
    doneInterval: {
      default: 600,
      type: Number
    },
    hasAllResult: {
      default: true,
      type: Boolean
    },
    setAllAsDefault: {
      default: true,
      type: Boolean
    }
  },
  created: function () {
    this.allMosaics = { id: -1, name: 'Всe мозаики' }
  },
  mounted: function () {
    if (this.setAllAsDefault && this.hasAllResult) {
      this.$refs.searcher.setByRawResult(this.allMosaics)
    }
  },
  data: () => {
    return {
      results: []
    }
  },
  methods: {
    searchMosaics: function (mosaicName, callback) {
      if (mosaicName === '') {
        if (this.hasAllResult) callback([this.allMosaics])
        return
      }
      const cthis = this
      const mosaicRequest = `/api/mosaics?name=${mosaicName}&limit=14`
      axios
        .get(mosaicRequest)
        .then(function (res) {
          if (cthis.hasAllResult) res.data.unshift(cthis.allMosaics)
          callback(res.data)
        })
        .catch((err) => console.log(err))
    },
    keyNameExtractor: function (mosaic) {
      return { key: mosaic.id, name: mosaic.name }
    },
    handleSelect: function (res) {
      console.log(res)
    }
  }
}
</script>

<style>
</style>
