<template>
  <div id="map" />
</template>

<script>
import axios from 'axios'
import L from 'leaflet'

// Swaps latitude and logtitude in polygon.
function invertPolygon (polygon) {
  const invPoly = []
  for (const poly of polygon) {
    const subPoly = []
    for (const point of poly) {
      subPoly.push([point[1], point[0]])
    }
    invPoly.push(subPoly)
  }
  return invPoly
}

// Finds polygon's bounds.
function findBounds (polygon) {
  let minLatt = 1000
  let minLong = 1000
  let maxLat = -1000
  let maxLong = -1000
  for (const poly of polygon) {
    for (const point of poly) {
      minLatt = Math.min(minLatt, point[0])
      minLong = Math.min(minLong, point[1])
      maxLat = Math.max(maxLat, point[0])
      maxLong = Math.max(maxLong, point[1])
    }
  }
  return [
    [minLatt, minLong],
    [maxLat, maxLong]
  ]
}

// Generate random color.
function getRandColor () {
  const r = Math.floor(Math.random() * 255)
  const g = Math.floor(Math.random() * 255)
  const b = Math.floor(Math.random() * 255)
  return 'rgb(' + r + ' ,' + g + ',' + b + ')'
}

export default {
  name: 'GeoMap',
  components: {},
  data () {
    return {
      todos: []
    }
  },
  methods: {},
  mounted () {
    // Initialize map
    const m = L.map('map', { zoomControl: false }).setView([66.529, 33.239], 8)

    // Add tile layer
    const osm = new L.TileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    )
    const baseLayerGroup = new L.LayerGroup()
    baseLayerGroup.addLayer(osm)
    baseLayerGroup.addTo(m)

    // Try to get zone id from url
    // Url is supposed to be in the form "marine.com/home/{zoneId}"
    const parser = document.createElement('a')
    parser.href = window.location.href
    let zoneId = parser.pathname.split('/')[2]
    // If there is no zoneId in the url or it is not valid take 9 as a default zoneId
    if (zoneId == null || isNaN(parseInt(zoneId, 10))) {
      zoneId = '9'
    }

    // Compose request to rest api
    const reqUrl =
      '/api/surveys/?parent=' + zoneId + '&' + parser.search.substr(1)

    axios
      .get(reqUrl)
      .then(function (res) {
        let bounds = []

        // Add surveys to map
        for (const surv of res.data) {
          // Find bounds of survey's polygon
          bounds.push(findBounds(surv.polygon))
          // Invert latitude and logtitude and add polygon to map
          L.polygon(invertPolygon(surv.polygon), {
            color: getRandColor()
          }).addTo(m)
        }
        // Find bounds for all surveys
        bounds = findBounds(bounds)
        bounds[0].reverse()
        bounds[1].reverse()
        // Set map zoom to fit surveys bounds
        m.fitBounds(bounds)
      })
      .catch((err) => console.log(err))
  }
}
</script>

<style scoped>
</style>
