<template>
  <div class="dropdown">
    <input
      type="search"
      :placeholder="placeholder"
      class="form-control dropdown-toggle"
      id="searchInput"
      aria-haspopup="true"
      aria-expanded="false"
      v-on:keyup="handleSymbolInput"
      v-on:blur="hideDropdown"
      v-on:focus="showIfHasElements"
      ref="searchInput"
    />

    <ul
      class="dropdown-menu w-100"
      aria-labelledby="searchInput"
      ref="dropdown"
    >
      <li
        class="dropdown-item"
        v-for="result in results"
        v-bind:key="result.key"
        v-on:click="handleSelect(result)"
        v-on:mousedown="handleMousedown"
      >
        {{ result.name }}
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'Searcher',
  components: {},
  props: {
    doneInterval: {
      default: 600,
      type: Number
    },
    placeholder: {
      default: 'Поиск',
      type: String
    },
    searchFunctor: Function,
    keyNameExtractor: Function
  },
  created: function () {
    this.typingTimer = null
    this.selectedValue = null
  },
  data: () => {
    return {
      results: []
    }
  },
  methods: {
    handleMousedown: function (event) {
      // If we don't prevent default event handler, than
      // input will lose focus, list will be hidden and
      // click event will not be emitted!
      event.preventDefault()
    },
    hideDropdown: function () {
      this.$refs.dropdown.classList.remove('show')
    },
    showDropdown: function () {
      this.$refs.dropdown.classList.add('show')
    },
    showIfHasElements: function () {
      if (this.results.length) this.showDropdown()
    },
    handleSymbolInput: function (event) {
      if (event.ctrlKey === true) return

      clearTimeout(this.typingTimer)
      this.results = []
      this.hideDropdown()
      this.selectedValue = null

      this.typingTimer = setTimeout(this.doneTyping, this.doneInterval)
    },
    doneTyping: function () {
      this.searchFunctor(this.$refs.searchInput.value, this.parseResults)
    },
    parseResults: function (rawResults) {
      this.results = []
      for (const rawResult of rawResults) {
        const keyName = this.keyNameExtractor(rawResult)
        keyName.value = rawResult
        this.results.push(keyName)
      }
      if (this.results.length) this.showDropdown()
    },
    setByRawResult: function (rawResult) {
      const keyName = this.keyNameExtractor(rawResult)
      this.results = [keyName]
      this.$refs.searchInput.value = keyName.name
      this.selectedValue = rawResult
    },
    handleSelect: function (result) {
      this.results = [result]
      this.$refs.searchInput.value = result.name
      this.selectedValue = result.value
      this.hideDropdown()
      this.$emit('result-selected', result.value)
    },
    getSelectedValue: function () {
      return this.selectedValue
    }
  },
  mounted: () => {}
}
</script>

<style scoped>
.dropdown-menu {
  max-height: 200px;
  overflow-x: hidden;
}
</style>
