<template>
  <div>
    <input
      class="form-control"
      list="datalistOptions"
      :placeholder="placeholder"
      v-on:keyup="handleSymbolInput"
      ref="searchInput"
    />
    <datalist id="datalistOptions" ref="dropdown">
      <option
        v-for="result in results"
        v-bind:key="result.key"
        :value="result.name"
        v-on:click="handleSelect(result)"
      ></option>
    </datalist>
  </div>

  <!-- <div class="dropdown">
    <input
      type="search"
      :placeholder="placeholder"
      class="form-control dropdown-toggle"
      id="searchInput"
      aria-haspopup="true"
      aria-expanded="false"
      v-on:keyup="handleSymbolInput"
      v-on:blur="hideDropdown"
      v-on:focus="showIfHasElements"
      ref="searchInput"
    />

    <ul
      class="dropdown-menu w-100"
      aria-labelledby="searchInput"
      ref="dropdown"
    >
      <li
        class="dropdown-item"
        v-for="result in results"
        v-bind:key="result.key"
        v-on:click="handleSelect(result)"
        v-on:mousedown="handleMousedown"
      ></li>
    </ul>
  </div> -->
</template>

<script>
import axios from "axios";

export default {
  name: "Searcher",
  components: {},
  props: {
    doneInterval: {
      default: 600,
      type: Number,
    },
    placeholder: {
      default: "Поиск",
      type: String,
    },
    searchFunctor: Function,
    keyNameExtractor: Function,
  },
  created: function () {
    this.typingTimer = null;
    this.selectedValue = null;
  },
  data: () => {
    return {
      results: [],
    };
  },
  methods: {
    handleMousedown: function (event) {
      // If we don't prevent default event handler, than
      // input will lose focus, list will be hidden and
      // click event will not be emitted!
      event.preventDefault();
    },
    showIfHasElements: function () {
      if (this.results.length) this.showDropdown();
    },
    handleSymbolInput: function (event) {
      if (event.ctrlKey == true) return;

      //Catch selection
      if (event.key === undefined) {
        for (const res of this.results) {
          if (
            res.name == this.$refs.searchInput.value &&
            res != this.selectedValue
          ) {
            this.handleSelect(res);
          }
        }
        return;
      }

      console.log("atheism " + event.key);

      clearTimeout(this.typingTimer);
      this.results = [];
      // this.hideDropdown();
      this.selectedValue = null;

      this.typingTimer = setTimeout(this.doneTyping, this.doneInterval);
    },
    doneTyping: function () {
      this.searchFunctor(this.$refs.searchInput.value, this.parseResults);
    },
    parseResults: function (rawResults) {
      this.results = [];
      for (const rawResult of rawResults) {
        let keyName = this.keyNameExtractor(rawResult);
        keyName.value = rawResult;
        this.results.push(keyName);
      }
      // if (this.results.length) this.showDropdown();
    },
    setByRawResult: function (rawResult) {
      let keyName = this.keyNameExtractor(rawResult);
      this.results = [keyName];
      this.$refs.searchInput.value = keyName.name;
      this.selectedValue = rawResult;
    },
    handleSelect: function (result) {
      // this.results = [];
      this.results = [result];
      // this.$refs.searchInput.value = result.name;
      this.selectedValue = result.value;
      // this.hideDropdown();
      console.log(result.name);
      this.$emit("result-selected", result.value);
    },
    getSelectedValue: function () {
      return this.selectedValue;
    },
  },
  mounted: () => {},
};
</script>


<style scoped>
</style>
