<template>
    <div style="height:100%;">
      <div v-show="error" class="alert alert-danger" role="alert" style="margin:20px;">
        {{error}}
      </div>
      <div class="viewer" style="min-height: 0;" v-show="error === ''">
        <div class="container-fluid">
            <div class="row" style="padding:5px 20px">
                <div class="tool-panel col-auto align-self-center">
                    <span style="padding-right: 10px;">Filling mode:</span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="positiveRadio" name="fillingMode" value="positive" v-model="fillMode" v-on:change="redrawCanvasContent" checked>
                        <label class="form-check-label" for="positiveRadio">Postive</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="negativeRadio" name="fillingMode" value="negative" v-model="fillMode" v-on:change="redrawCanvasContent">
                        <label class="form-check-label" for="negativeRadio">Negative</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="noneRadio" name="fillingMode" value="none" v-model="fillMode" v-on:change="redrawCanvasContent">
                        <label class="form-check-label" for="noneRadio">None</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto align-self-center"><label for="gainInput">Gain: </label></div>
                        <div class="col">
                            <input ref="gainInput" v-model="amplMultipliers.userMult" class="form-control" style="widt"  id="gainInput" type="number" step="0.2" min="0.00000001" max="100">
                        </div>
                    </div>

                </div>

                <div class="tool-panel col"></div>

                <div class="tool-panel col-auto align-self-center">
                    <button class="btn btn-primary" v-on:click="zoomIn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-in" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            <path d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z"/>
                            <path fill-rule="evenodd" d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>
                    <button class="btn btn-primary" v-on:click="zoomOut">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-out" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                            <path d="M10.344 11.742c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1 6.538 6.538 0 0 1-1.398 1.4z"/>
                            <path fill-rule="evenodd" d="M3 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                </div>

            </div>
        </div>

        <div class="flex-grow-1 d-flex flex-row" style="min-height: 0px; position:relative; overflow: hidden;" >
            <div id="xAxisDiv" style="height: 30px; position: absolute; overflow: hidden;">
                <svg ref="xAxisSvg"></svg>
            </div>

            <div class="yAxisDiv"  style="width: 50px; position: absolute; overflow: hidden;">
                <svg ref="yAxisSvg"></svg>
            </div>

            <div ref="scrollView" class="flex-grow-1" style="overflow:auto;margin-top:30px;margin-left:50px;position: relative;">
                <div ref="fullSegyView" style="overflow: hidden; position:absolute" :style="{width: globalViewSize.width + 'px', height: globalViewSize.height + 'px'}">
                    <canvas ref="segyView" :style="{width: canvasSize.width + 'px', height: canvasSize.height + 'px'}" :width="canvasSize.width" :height="canvasSize.height"></canvas>
                </div>
                <svg id="objSvg" style="position: absolute;" :style="{width: globalViewSize.width, height: globalViewSize.height}">
                    <g class="fault-svg">
                        <polyline v-for="fault in transformedFaults" v-bind:key="fault.id" :points="fault.d" v-b-tooltip.hover :title="fault.name" fill="none" class="fault"></polyline>
                    </g>
                    <g class="horizon-svg">
                        <polyline v-for="horizon in transformedHorizons" v-bind:key="horizon.id" :points="horizon.d" v-b-tooltip.hover :title="horizon.name" fill="none" class="horizon"></polyline>
                    </g>
                </svg>
            </div>
        </div>

      </div>
    </div>

</template>

<script>

import BootstrapVue from 'bootstrap-vue/dist/bootstrap-vue.esm'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import 'bootstrap/dist/css/bootstrap.css'

import { getSeismic2dStackSegyRep } from './../segy_rep.js'
import { TimedHandler } from './../timed_handler.js'
import { getSeismic2dStackRep } from '../repositories/seismic2d_stack_rep'

import * as d3 from 'd3'

const Vue = require('vue')

Vue.use(BootstrapVue)

const tm = require('transformation-matrix')

// const svgPath = function (points) {
//   let pathStr = `M ${points[0][0]},${points[0][1]}`
//   for (let i = 1; i < points.length; i += 1) {
//     const point = points[i]
//     pathStr += `L ${point[0]} ${point[1]}`
//   }
//   return pathStr
// }

const svgLine = function (points) {
  let lineStr = `${points[0][0]} ${points[0][1]}`
  for (let i = 1; i < points.length; ++i) {
    lineStr += `, ${points[i][0]} ${points[i][1]}`
  }
  return lineStr
}

const svgPathFromTrace = function (trace, xOffset, yStart, yStep) {
  let yOffset = yStart
  let pathStr = `M ${trace[0] + xOffset},${yOffset}`

  for (let i = 1; i < trace.length; i += 1) {
    yOffset += yStep
    pathStr += `L ${trace[i] + xOffset} ${yOffset}`
  }
  return pathStr
}

const svgPathPositiveFromTrace = function (trace, xOffset, yStart, yStep) {
  let yOffset = yStart
  let pathStr = `M ${trace[0] + xOffset},${yOffset}`

  let lastIsNegative = false
  for (let i = 1; i < trace.length; i += 1) {
    yOffset += yStep
    if (trace[i] < 0) {
      if (!lastIsNegative) {
        pathStr += `L ${xOffset} ${yOffset}`
        lastIsNegative = true
      }
      continue
    }

    if (lastIsNegative) {
      pathStr += `L ${xOffset} ${yOffset - yStep}`
    }
    lastIsNegative = false
    pathStr += `L ${trace[i] + xOffset} ${yOffset}`
  }
  return pathStr
}

const svgPathNegativeFromTrace = function (trace, xOffset, yStart, yStep) {
  let yOffset = yStart
  let pathStr = `M ${trace[0] + xOffset},${yOffset}`

  let lastIsPositive = false
  for (let i = 1; i < trace.length; i += 1) {
    yOffset += yStep
    if (trace[i] > 0) {
      if (!lastIsPositive) {
        pathStr += `L ${xOffset} ${yOffset}`
        lastIsPositive = true
      }
      continue
    }

    if (lastIsPositive) {
      pathStr += `L ${xOffset} ${yOffset - yStep}`
    }
    lastIsPositive = false
    pathStr += `L ${trace[i] + xOffset} ${yOffset}`
  }
  return pathStr
}

export default {
  name: 'StackViewer',
  components: {},
  props: {
    seismic2dStackId: {
      default: null,
      type: Number
    }
  },

  data () {
    return {
      // Size of global view
      globalViewSize: { width: 0, height: 0 },
      // Canvas size
      canvasSize: { width: 0, height: 0 },
      // Filling mode
      fillMode: 'positive',

      amplMultipliers: {
        // Default amplitude multiplier
        amplMult: 2,
        // Normalization amplitude multiplier
        normMult: 1,
        // Decimation amplitude multiplier
        decimMult: 1,
        // Trace space multiplier
        spaceMult: 1,
        // Custom user defined multiplier
        userMult: 1
      },

      // Matrix that define affine transformation from trace space to
      // global space.
      traceToGlobMat: tm.identity(),

      // Sample interval in microseconds
      sampleInterval: 500,

      // Faults associated with segy
      faults: [],

      // Horizons associated with segy
      horizons: [],

      // Error message
      error: '',

      // Margin between left border and first trace and last trace and a right border
      viewMargin: 10,
      // Max distance between two drawn neighbor traces in pixels
      maxDistBetweenTraces: 10,
      pixelsPerXAxisTick: 40,
      pixelsPerYAxisTick: 20,
      axisPadding: 4,
      traceAxisHeight: 30,
      timeAxisWidth: 50
    }
  },

  created () {
    // Matrix that define affine transformation from global space to
    // padded space
    this.globToPadMat = null
    // Matrix that define affine transformation from global space to
    // viewport space
    this.globToPortMat = null

    // Index of current redraw operation
    this.redrawIndex = 0
  },

  mounted () {
    // Canvas context
    this.ctx2d = this.$refs.segyView.getContext('2d')

    // Create handler for redrawing on scrolling
    const scrollRedrawDelay = 500
    this.redrawHandler = (
      new TimedHandler(
        () => {
          this.centralizeCanvas()
          this.redrawCanvasContent()
        },
        scrollRedrawDelay
      )
    ).getHandler()

    // Attach scrolling handler
    this.$refs.scrollView.addEventListener('scroll', this.scrollingHandle)

    const gainChangeDelay = 500
    const multHandler = (new TimedHandler(() => {
      this.centralizeCanvas()
      this.redrawCanvasContent()
    }, gainChangeDelay)).getHandler()

    // Attach gain change handler
    this.$refs.gainInput.addEventListener('change', multHandler)

    // Init viewer sizes
    this.initViewerSizes()

    // Get segy repository
    this.segyRep = getSeismic2dStackSegyRep(this.seismic2dStackId)

    this.segyRep.getReadyPromise().then(() => { this.initViewer() })

    this.segyRep.addErrorObserver((err) => { this.error = err })

    // Recieve horizons and faults
    const sRep = getSeismic2dStackRep()
    sRep.getById(this.seismic2dStackId)
      .then((d) => {
        this.faults = d.faults
        this.horizons = d.horizons
      })
      .catch(err => { this.error = err.message })
  },

  methods: {
    initViewerSizes () {
      const viewportSize = [this.$refs.scrollView.clientWidth, this.$refs.scrollView.clientHeight]

      // Make size of global view constant and equal to viewport size
      this.globalViewSize.width = viewportSize[0]
      this.globalViewSize.height = viewportSize[1]

      // Init canvas width as double of viewport width
      this.canvasSize.width = viewportSize[0] * 2
      this.canvasSize.height = viewportSize[1]

      // Match canvas' center with viewport center
      this.$refs.segyView.style.transform = 'translate(' + (-this.canvasSize.width / 4) + 'px, ' + '0' + 'px)'
    },

    // Init viewer
    initViewer () {
      const traceCount = this.segyRep.getTraceCount()
      const sampleCount = this.segyRep.getSampleCount()

      this.sampleInterval = this.segyRep.getSampleInterval()

      const viewportSize = [this.$refs.scrollView.clientWidth, this.$refs.scrollView.clientHeight]

      // Calculate space between traces to fit all traces in viewport
      const traceSpace = (viewportSize[0] - 2 * this.viewMargin) / (traceCount - 1)

      // Calculate min trace count
      // const minTraceCount = Math.ceil((viewportSize[0] - 2 * this.viewMargin) / this.maxDistBetweenTraces) + 1

      // TODO: Do something if minTraceCount >= traceCount

      // Calculate affine transform matrix from trace space to global space
      this.traceToGlobMat = tm.compose(
        tm.translate(this.viewMargin, 0),
        tm.scale(traceSpace, this.canvasSize.height / sampleCount)
      )

      // Calculate affine transform matrix from global space to padded space
      this.globToPadMat = tm.translate(this.canvasSize.width / 4, 0)
      // Calculate affine transform matrix from global space to viewport space
      this.globToPortMat = tm.compose(this.globToPadMat, tm.translate(-this.canvasSize.width / 4, 0))

      // Init normalization amplitude multiplier
      this.amplMultipliers.normMult = this.segyRep.getMinmaxNorm()
      if (this.amplMultipliers.normMult == null) {
        console.log('Failed to get normalization multiplier')
        this.amplMultipliers.normMult = 1
      }

      // console.log(`Total traces is ${traceCount}`)
      // console.log(`Min count of visualizing traces is ${minTraceCount}`)

      this.recalcDecimAndSpaceMultipliers()

      this.initTraceAxis()
      this.initTimeAxis()

      this.redrawCanvasContent()
    },

    // Destroy old trace axis (if exists) and creates new one
    initTraceAxis () {
      const axisPadding = this.axisPadding
      // Get axis width in pixels
      const axisWidth = tm.applyToPoint(this.traceToGlobMat, [this.segyRep.getTraceCount() - 1, 0])[0]
      const axisWidthWithPadding = axisWidth + 2 * axisPadding
      // Set axis width
      const axis = d3.select(this.$refs.xAxisSvg).attr('width', axisWidthWithPadding)
      this.$refs.xAxisSvg.style.width = axisWidthWithPadding
      // Set padding
      this.$refs.xAxisSvg.parentNode.style.left = `${this.timeAxisWidth - axisPadding}px`

      // Delete old axis
      axis.selectAll('*').remove()
      // Create linear scale
      const x = d3.scaleLinear().domain([1, this.segyRep.getTraceCount()]).range([this.viewMargin + axisPadding, axisWidth + axisPadding])
      // Draw linear scale
      axis.append('g').attr('transform', `translate(0,${this.traceAxisHeight - 1})`).call(d3.axisTop(x).ticks(Math.floor(axisWidth / this.pixelsPerXAxisTick)))
    },

    // Destroy old time axis (if exists) and creates new one
    initTimeAxis () {
      const axisPadding = this.axisPadding

      const sampleCount = this.segyRep.getSampleCount()
      const sampleIntervalMs = this.segyRep.getSampleInterval() / 1000.0

      // Get axis height in pixels
      const axisHeight = tm.applyToPoint(this.traceToGlobMat, [0, sampleCount - 1])[1]
      // Get axis height with padding
      const axisHeightWidthPadding = axisHeight + 2 * axisPadding
      // Set axis height
      const axis = d3.select(this.$refs.yAxisSvg).attr('height', axisHeightWidthPadding)
      this.$refs.yAxisSvg.style.height = axisHeightWidthPadding
      this.$refs.yAxisSvg.parentNode.style.top = `${this.traceAxisHeight - axisPadding}px`

      // Delete old axis
      axis.selectAll('*').remove()
      // Create linear scale
      const y = d3.scaleLinear().domain([0, (sampleCount - 1) * sampleIntervalMs]).range([axisPadding, axisHeightWidthPadding])
      axis.append('g').attr('transform', `translate(${this.timeAxisWidth - 1},0)`).call(d3.axisLeft(y).ticks(Math.floor(axisHeightWidthPadding / this.pixelsPerYAxisTick)))
    },

    // Translate X (trace) axis to match viewport content
    translateXAxis () {
      const dx = this.$refs.scrollView.scrollLeft
      this.$refs.xAxisSvg.style.transform = `translate(${-dx}px, 0px)`
    },

    // Translate Y (time) axis to match viewport content
    translateYAxis () {
      const dy = this.$refs.scrollView.scrollTop
      this.$refs.yAxisSvg.style.transform = `translate(0px, ${-dy}px)`
    },

    // Recalculates decimation amplitude multiplier and space amplitude multiplier
    recalcDecimAndSpaceMultipliers () {
      this.amplMultipliers.decimMult = this.estimateGap() + 1.0

      {
        const p1 = tm.applyToPoint(this.traceToGlobMat, [0, 0])
        const p2 = tm.applyToPoint(this.traceToGlobMat, [1, 0])
        this.amplMultipliers.spaceMult = Math.abs(p2[0] - p1[0])
      }
    },

    // Zoom in view
    zoomIn () {
      const xZoom = 2
      const yZoom = 2

      // Calculate matrix to transform from viewport space to trace space
      const portToTrace = tm.inverse(
        tm.compose(this.globToPortMat, this.traceToGlobMat)
      )

      const viewportSize = [this.$refs.scrollView.clientWidth, this.$refs.scrollView.clientHeight]

      // calculate center in trace space
      const traceCenter = tm.applyToPoint(
        portToTrace,
        [viewportSize[0] / 2, viewportSize[1] / 2]
      )

      // scale global space
      this.traceToGlobMat = tm.compose(
        this.traceToGlobMat,
        tm.scale(xZoom, yZoom)
      )

      // scale global div
      this.globalViewSize.width *= xZoom
      this.globalViewSize.height *= yZoom

      // scale canvas height
      this.canvasSize.height *= yZoom

      // calculate new center in global space
      const traceCenterInGlob = tm.applyToPoint(this.traceToGlobMat, traceCenter)

      // Move viewport to the center
      this.$nextTick(() => {
        this.$refs.scrollView.scrollLeft = Math.max(traceCenterInGlob[0] - viewportSize[0] / 2, 0)
        this.$refs.scrollView.scrollTop = Math.max(traceCenterInGlob[1] - viewportSize[1] / 2, 0)

        // Update globToPort matrix
        this.globToPortMat.e = -this.$refs.scrollView.scrollLeft
        this.globToPortMat.f = -this.$refs.scrollView.scrollTop
      })

      this.recalcDecimAndSpaceMultipliers()

      this.centralizeCanvas()

      this.redrawCanvasContent()

      this.initTraceAxis()
      this.initTimeAxis()
    },

    zoomOut () {
      const xZoom = 2
      const yZoom = 2

      // Calculate matrix to transform from viewport space to trace space
      const portToTrace = tm.inverse(
        tm.compose(
          this.globToPortMat,
          this.traceToGlobMat
        )
      )

      const viewportSize = [this.$refs.scrollView.clientWidth, this.$refs.scrollView.clientHeight]

      // Calculate old center in trace space
      const traceCenter = tm.applyToPoint(
        portToTrace,
        [viewportSize[0] / 2.0, viewportSize[1] / 2.0]
      )

      // scale global space
      this.traceToGlobMat = tm.compose(
        this.traceToGlobMat,
        tm.scale(1.0 / xZoom, 1.0 / yZoom)
      )

      // scale global div
      this.globalViewSize.width /= xZoom
      this.globalViewSize.height /= yZoom

      // scale canvas height
      this.canvasSize.height /= yZoom

      // calculate new center in global space
      const traceCenterInGlob = tm.applyToPoint(this.traceToGlobMat, traceCenter)

      // Move viewport to the center
      this.$nextTick(() => {
        // We are forced to change scrolling after tick
        this.$refs.scrollView.scrollLeft = Math.max(traceCenterInGlob[0] - viewportSize[0] / 2, 0)
        this.$refs.scrollView.scrollTop = Math.max(traceCenterInGlob[1] - viewportSize[1] / 2, 0)

        // Update globToPort matrix
        this.globToPortMat.e = -this.$refs.scrollView.scrollLeft
        this.globToPortMat.f = -this.$refs.scrollView.scrollTop
      })

      this.recalcDecimAndSpaceMultipliers()

      this.centralizeCanvas()

      this.redrawCanvasContent()

      this.initTraceAxis()
      this.initTimeAxis()

      this.translateXAxis()
      this.translateYAxis()
    },

    centralizeCanvas () {
      const viewportDiv = this.$refs.scrollView
      const globalDiv = this.$refs.fullSegyView
      // get center point in global space
      const gc = [
        viewportDiv.scrollLeft + Math.min(viewportDiv.clientWidth / 2, globalDiv.clientWidth / 2),
        viewportDiv.scrollTop + Math.min(viewportDiv.clientHeight / 2, globalDiv.clientHeight / 2)
      ]

      this.globToPadMat.e = -(gc[0] - this.canvasSize.width / 2)
      this.globToPadMat.f = 0

      this.$refs.segyView.style.transform = 'translate(' + (-this.globToPadMat.e) + 'px, ' + '0' + 'px)'
    },

    // Estimate decimation gap between visualized traces
    estimateGap () {
      const firstTrace = [0, 0]
      const secondTrace = [1, 0]

      const ftg = tm.applyToPoint(this.traceToGlobMat, firstTrace)
      const stg = tm.applyToPoint(this.traceToGlobMat, secondTrace)

      const traceDist = Math.sqrt((stg[0] - ftg[0]) * (stg[0] - ftg[0]) + (stg[1] - ftg[1]) * (stg[1] - ftg[1]))

      return Math.max(Math.floor(this.maxDistBetweenTraces / traceDist - 1), 0)
    },

    getPadTraceRange () {
      const padToGlob = tm.inverse(this.globToPadMat)
      const globToTrace = tm.inverse(this.traceToGlobMat)
      const padToTrace = tm.compose(globToTrace, padToGlob)

      const traceCount = this.segyRep.getTraceCount()

      return [
        Math.max(Math.floor(tm.applyToPoint(padToTrace, [0, 0])[0]), 0),
        Math.min(Math.ceil(tm.applyToPoint(padToTrace, [this.$refs.segyView.width, 0])[0]), traceCount - 1)
      ]
    },

    redrawCanvasContent () {
      console.log('redrawing context')

      this.redrawIndex += 1

      const closureRedrawIndex = this.redrawIndex

      // clear content
      this.ctx2d.clearRect(0, 0, this.$refs.segyView.width, this.$refs.segyView.height)

      // redraw traces

      // get indexes of traces that fit canvas (padded view) and viewport

      const portToTrace = tm.inverse(
        tm.compose(this.globToPortMat, this.traceToGlobMat)
      )

      const traceCount = this.segyRep.getTraceCount()

      const viewportTraceRange = [
        Math.max(Math.floor(tm.applyToPoint(portToTrace, [0, 0])[0]), 0),
        Math.min(Math.ceil(tm.applyToPoint(portToTrace, [this.$refs.scrollView.clientWidth, 0])[0]), traceCount - 1)
      ]

      const padTraceRange = this.getPadTraceRange()

      const gap = this.estimateGap() + 1

      const that = this

      // Draw viewport traces
      for (let ti = viewportTraceRange[0]; ti <= viewportTraceRange[1]; ti += 1) {
        if (ti % gap === 0) {
          const trace = this.segyRep.getTrace(ti)
          Promise.resolve(trace).then(function (traceData) {
            // Skip trace drawing if it was requested from old redraw command
            if (closureRedrawIndex === that.redrawIndex) that.drawTrace(traceData, ti)
          })
        }
      }

      const maxPadTrace = Math.max(
        0,
        viewportTraceRange[0] - padTraceRange[0],
        padTraceRange[1] - viewportTraceRange[1]
      )

      // Draw shadow traces
      for (let ti = 0; ti < maxPadTrace; ++ti) {
        const leftTi = viewportTraceRange[0] - ti - 1
        if (leftTi % gap === 0 && leftTi >= padTraceRange[0]) {
          const trace = this.segyRep.getTrace(leftTi)
          Promise.resolve(trace).then(function (traceData) {
            // Skip trace drawing if it was requested from old redraw command
            if (closureRedrawIndex === that.redrawIndex) that.drawTrace(traceData, leftTi)
          })
        }

        const rightTi = viewportTraceRange[1] + 1 + ti
        if (rightTi % gap === 0 && rightTi < padTraceRange[1]) {
          const trace = this.segyRep.getTrace(rightTi)
          Promise.resolve(trace).then(function (traceData) {
            // Skip trace drawing if it was requested from old redraw command
            if (closureRedrawIndex === that.redrawIndex) that.drawTrace(traceData, rightTi)
          })
        }
      }
    },

    // Handles viewport scrolling
    scrollingHandle () {
      const dx = this.$refs.scrollView.scrollLeft
      const dy = this.$refs.scrollView.scrollTop

      this.globToPortMat.e = -dx
      this.globToPortMat.f = -dy

      // get bounds of viewport and canvas in global space
      const portToGlob = tm.inverse(this.globToPortMat)
      const portBounds = [
        tm.applyToPoint(portToGlob, [0, 0])[0],
        tm.applyToPoint(portToGlob, [this.$refs.scrollView.clientWidth, 0])[0]
      ]

      const padToGlob = tm.inverse(this.globToPadMat)
      const padBounds = [
        tm.applyToPoint(padToGlob, [0, 0])[0],
        tm.applyToPoint(padToGlob, [this.$refs.segyView.clientWidth, 0])[0]
      ]

      // redraw if appeared new traces
      const loadPart = 0.1
      const overflow = 20

      const isLeftout = portBounds[0] < padBounds[0] - overflow
      // Check if left shadow edge is too small
      const isLeftpadSmall = (portBounds[0] - padBounds[0] - overflow) < loadPart * (padBounds[1] - padBounds[0])
      const isRightout = portBounds[1] > padBounds[1] + overflow
      // Check if right shadow edge is too small
      const isRightpadSmall = (padBounds[1] + overflow - portBounds[1]) < loadPart * (padBounds[1] - padBounds[0])

      if (
        isLeftout ||
                    isLeftpadSmall ||
                    isRightout ||
                    isRightpadSmall
      ) {
        this.redrawHandler()
      }

      // Adjust axis
      this.translateXAxis()
      this.translateYAxis()
    },

    drawTrace (trace, index) {
      // Calculate multiplier
      const mult = this.amplMultipliers.amplMult * this.amplMultipliers.normMult *
        this.amplMultipliers.decimMult * this.amplMultipliers.spaceMult *
        this.amplMultipliers.userMult

      const normTrace = trace.map(x => x * mult)

      const offsetPos = tm.applyToPoint(this.globToPadMat, tm.applyToPoint(this.traceToGlobMat, [index, 0]))

      const offsetPos2 = tm.applyToPoint(this.globToPadMat, tm.applyToPoint(this.traceToGlobMat, [index, 1]))

      const path = new Path2D(svgPathFromTrace(normTrace, offsetPos[0], offsetPos[1], offsetPos2[1] - offsetPos[1]))
      this.ctx2d.stroke(path)

      if (this.fillMode === 'positive') {
        const path = new Path2D(svgPathPositiveFromTrace(normTrace, offsetPos[0], offsetPos[1], offsetPos2[1] - offsetPos[1]))
        this.ctx2d.fill(path)
      }

      if (this.fillMode === 'negative') {
        const path = new Path2D(svgPathNegativeFromTrace(normTrace, offsetPos[0], offsetPos[1], offsetPos2[1] - offsetPos[1]))
        this.ctx2d.fill(path)
      }
    }
  },
  computed: {
    // Returns faults in global space
    transformedFaults () {
      if (this.faults == null || this.faults.legnth === 0) return []

      const timeToSample = 1000.0 / this.sampleInterval

      const tFaults = []
      for (const fault of this.faults) {
        const tCoords = []
        for (const point of fault.coords) {
          tCoords.push(tm.applyToPoint(this.traceToGlobMat, [point[0], point[1] * timeToSample]))
        }
        // tFaults.push({id: fault.id, name: fault.name, d: svgPath(tCoords)})
        tFaults.push({ id: fault.id, name: fault.name, d: svgLine(tCoords) })
      }
      return tFaults
    },

    // Returns horizons in global space
    transformedHorizons () {
      if (this.horizons == null || this.horizons.legnth === 0) return []

      const timeToSample = 1000.0 / this.sampleInterval

      const tHorizons = []
      for (const horizon of this.horizons) {
        const tCoords = []
        for (const point of horizon.coords) {
          tCoords.push(tm.applyToPoint(this.traceToGlobMat, [point[0], point[1] * timeToSample]))
        }
        // tHorizons.push({id: horizon.id, name: horizon.name, d: svgPath(tCoords)})
        tHorizons.push({ id: horizon.id, name: horizon.name, d: svgLine(tCoords) })
      }
      return tHorizons
    }
  }

}
</script>

<style scoped>
  .viewer {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tool-panel {
      padding: 0px 10px;
  }

  .fault-svg {
      /* fill-opacity: 0; */
      stroke: #ff9900;
      stroke-width: 4;
  }

  .fault:hover {
      stroke-width: 6;
  }

  .horizon-svg {
      /* fill-opacity: 0; */
      stroke: #19e719;
      stroke-width: 4;
  }

  .horizon:hover {
      stroke-width: 6;
  }

</style>
