<template>
  <div class="container">
    <div class="form-group row">
      <label class="col-sm-auto col-form-label">Зона:</label>
      <div class="col">
        <ZoneSearcher
          ref="zoneSelector"
          v-on:zone-selected="showPlotsForZone"
        />
      </div>
    </div>
    <div class="row">
      <div class="col"><canvas ref="typePiePlotCanvas"></canvas></div>
      <div class="col"><canvas ref="typeBarPlotCanvas"></canvas></div>
    </div>
    <div class="row">
      <div class="col"><canvas ref="toolPiePlotCanvas"></canvas></div>
      <div class="col"><canvas ref="toolBarPlotCanvas"></canvas></div>
    </div>
    <div class="row">
      <div class="col"><canvas ref="directionPiePlotCanvas"></canvas></div>
      <div class="col"><canvas ref="directionBarPlotCanvas"></canvas></div>
    </div>
  </div>
</template>

<script>
import ZoneSearcher from "./ZoneSearcher.vue";
import axios from "axios";

export default {
  name: "StatisticsBySurveys",
  components: { ZoneSearcher },
  created: function () {
    this.typePiePlot = null;
    this.typeBarPlot = null;

    this.toolPiePlot = null;
    this.toolBarPlot = null;

    this.directionPiePlot = null;
    this.directionBarPlot = null;
  },
  data: function () {
    return {};
  },
  methods: {
    showPlotsForZone: function (zone) {
      let t = this;
      let buildPlots = function (uniqs){
        // color and label selectors
        let survTypeColorSelector = createSurvTypeColorSelector(uniqs.types);
        let survTypeLabelSelector = createSurvTypeLabelSelector(uniqs.types);
        let toolColorSelector = createToolColorSelector(uniqs.tools);
        let toolLabelSelector = createToolLabelSelector(uniqs.tools);

        // prepare requests for pie and bar plots
        let typePieReqs = prepareSurveyTypeRequests(zone);
        let toolPieReqs = prepareToolRequests(zone);
        let directionPieReqs = prepareDirectionRequests(zone);

        let typeBarReqs = prepareSurveyTypePerYearRequests(zone, uniqs.types.map((obj)=>obj.key));
        let toolLineReqs = prepareToolPerYearRequests(zone, uniqs.tools.map((obj)=>obj.id));
        let directionLineReqs = prepareDirectionPerYearRequests(zone, uniqs.directions);

        // Create functions to transform data recieved from rest api to chart.js data
        let typePieTrans = createPieDataTrans(survTypeLabelSelector, survTypeColorSelector);
        let toolPieTrans = createPieDataTrans(toolLabelSelector, toolColorSelector);
        let dirPieTrans = createPieDataTrans(directionLabelSelector, directionColorSelector);

        let typeBarTrans = createBarDataTrans(survTypeLabelSelector, survTypeColorSelector);
        let toolBarTrans = createBarDataTrans(toolLabelSelector, toolColorSelector);
        let dirBarTrans = createBarDataTrans(directionLabelSelector, directionColorSelector);

        // Create plotters that receive responses and draw plots
        let typePiePlotter = createPiePlotter(prepareResponse(typePieReqs), t.typePiePlot, typePieTrans);
        let toolPiePlotter = createPiePlotter(prepareResponse(toolPieReqs), t.toolPiePlot, toolPieTrans);
        let directionPiePlotter = createPiePlotter(prepareResponse(directionPieReqs), t.directionPiePlot, dirPieTrans);

        let typeBarPlotter = createBarPlotter(prepareResponse(typeBarReqs), t.typeBarPlot, typeBarTrans);
        let toolBarPlotter = createBarPlotter(prepareResponse(toolLineReqs), t.toolBarPlot, toolBarTrans);
        let directionBarPlotter = createBarPlotter(prepareResponse(directionLineReqs), t.directionBarPlot, dirBarTrans);

        // Send requests
        emitRequests(typePieReqs, typePiePlotter);
        emitRequests(toolPieReqs, toolPiePlotter);
        emitRequests(directionPieReqs, directionPiePlotter);        

        emitRequests(typeBarReqs, typeBarPlotter);
        emitRequests(toolLineReqs, toolBarPlotter);
        emitRequests(directionLineReqs, directionBarPlotter);
      }

      axios.get('/api/sssmbes-survey-unique-properties').then(function (res) {
        buildPlots(res.data);
      }).catch((err) => console.log(err));
    },
  },
  mounted: function () {
    let zone = this.$refs.zoneSelector.getSelectedZone();

    this.typePiePlot = initPiePlot(this.$refs.typePiePlotCanvas, null);
    this.typeBarPlot = initBarPlot(this.$refs.typeBarPlotCanvas, null);

    this.toolPiePlot = initPiePlot(this.$refs.toolPiePlotCanvas, null);
    this.toolBarPlot = initBarPlot(this.$refs.toolBarPlotCanvas, null);

    this.directionPiePlot = initPiePlot(this.$refs.directionPiePlotCanvas, null);
    this.directionBarPlot = initBarPlot(this.$refs.directionBarPlotCanvas, null);

    this.showPlotsForZone(zone);
  },
};


function getRandomColor() {
  var letters = "0123456789ABCDEF".split("");
  var color = "#";
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

function createSurvTypeColorSelector(surveyTypes){
  let survToColor = {};
  for(const survType of surveyTypes) survToColor[survType.key] = survType.mapColor;
  return function(survType){
    return survToColor[survType];
  };
}

function createSurvTypeLabelSelector(surveyTypes){
  let survToLabel = {};
  for(const survType of surveyTypes) survToLabel[survType.key] = survType.name;
  return function(survType){
    return survToLabel[survType];
  };
}

function createToolColorSelector(tools){
  let toolToColor = {};
  for(const tool of tools) toolToColor[tool.id] = getRandomColor();
  return function(tool){
    return toolToColor[tool];
  };
}

function createToolLabelSelector(tools){
  let toolToLabel = {};
  for(const tool of tools) toolToLabel[tool.id] = [tool.brand, tool.model].join(' ');
  return function(tool){
    return toolToLabel[tool];
  };
}

function directionColorSelector(dir){
  switch(dir){
    case "X":
      return "rgb(54, 162, 235)";
    case "L":
      return "rgb(255, 99, 132)";
    case "D":
      return "rgb(75, 192, 192)";
    case "I":
      return "rgb(255, 205, 86)";
  }
}

function directionLabelSelector(dir){
  return dir;
}


function prepareSurveyTypeRequests(zone){
  if(zone == null || zone.id == -1){
    return {'types': '/api/statistics/sssmbes-surveys/types'};
  }
  return {'types': '/api/statistics/sssmbes-surveys/types?parent=' + zone.id};
}

function prepareSurveyTypePerYearRequests(zone, types){
  let reqs = {};
  for(const t of types){
    if (zone == null || zone.id == -1) {
      reqs[t] = `/api/statistics/sssmbes-surveys/years?type=${t}`;
    }else{
      reqs[t] = `/api/statistics/sssmbes-surveys/years?type=${t}&parent=${zone.id}`
    }
  }
  return reqs;
}

function prepareToolRequests(zone){
  if(zone == null || zone.id == -1) return {'tools': '/api/statistics/sssmbes-surveys/tools'};
  else return {'tools': `/api/statistics/sssmbes-surveys/tools?parent=${zone.id}`};
}

function prepareToolPerYearRequests(zone, toolIds){
  let reqs = {};
  for(const toolId of toolIds){
    if (zone == null || zone.id == -1) {
      reqs[toolId] = `/api/statistics/sssmbes-surveys/years?tool=${toolId}`;
    }else{
      reqs[toolId] = `/api/statistics/sssmbes-surveys/years?tool=${toolId}&parent=${zone.id}`
    }
  }
  return reqs;
}

function prepareDirectionRequests(zone){
  if(zone == null || zone.id == -1) return {'directions': '/api/statistics/sssmbes-surveys/directions'};
  else return {'directions': `/api/statistics/sssmbes-surveys/directions?parent=${zone.id}`};
}

function prepareDirectionPerYearRequests(zone, directions){
  let reqs = {};
  for(const direction of directions){
    if (zone == null || zone.id == -1) {
      reqs[direction] = `/api/statistics/sssmbes-surveys/years?direction=${direction}`;
    }else{
      reqs[direction] = `/api/statistics/sssmbes-surveys/years?direction=${direction}&parent=${zone.id}`
    }
  }
  return reqs;
}

function prepareResponse(reqs){
  let data = {};
  for (let req in reqs) data[req] = null;
  return data;
}

function sendRequest(requestStr, key, callback) {
  axios
    .get(requestStr)
    .then(function (res) {
      callback(key, res.data);
    })
    .catch((err) => console.log(err));
}

function emitRequests(reqs, handler){
  for (let key in reqs) {
    sendRequest(reqs[key], key, handler);
  }
}

// Returns function called on response recieving.
function createBarPlotter(data, plot, dataTransform){
  for (let key in data) data[key] = null;
  let plotter = function (req, reqData) {
    data[req] = reqData;
    // Check if all necessary data is received
    let isReady = true;
    for (let key in data) isReady &= !(data[key] == null);
    if (!isReady) return;

    // Transform recieved data
    let plotData = dataTransform(data);

    // Update plot
    plot.data.labels = plotData.labels;
    plot.data.datasets = Object.values(plotData.datasets);
    plot.update();
  };
  return plotter;
}

function createPiePlotter(data, plot, dataTransform){
  for (let key in data) data[key] = null;
  let plotter = function (req, reqData) {
    data[req] = reqData;
    // Check if all necessary data is received
    let isReady = true;
    for (let key in data) isReady &= !(data[key] == null);
    if (!isReady) return;

    // Transform recieved data
    let plotData = dataTransform(data[Object.keys(data)[0]]);

    // Update plot
    plot.data = plotData;
    plot.update();
  };
  return plotter;
}


// Transform statistics to chart.js dataset
function prepareDataset(rawData, type, labels, labelSelector, colorSelector) {
  let dataset = {
    label: labelSelector(type),
    backgroundColor: colorSelector(type),
    data: new Array(labels.length).fill(0),
  };
  for (const sample of rawData) {
    let index = labels.indexOf(sample.year);
    dataset.data[index] = sample.count;
  }
  return dataset;
}

// Creates function that transforms data received from rest api
// to data that fits for bar chart.
function createBarDataTrans(labelSelector, colorSelector){
  return function(rawData){
    //Find labels(years)
    let labels = new Set();
    for (let req in rawData) {
      for (const sample of rawData[req]) labels.add(sample.year);
    }

    //Sort labels
    labels = [...labels];
    labels.sort((a, b) => a - b);

    //Prepare datasets
    let datasets = {};
    for (let key in rawData)
      datasets[key] = prepareDataset(rawData[key], key, labels, labelSelector, colorSelector);

    return { labels: labels, datasets: datasets };
  };
}

function getKey(obj){
  if(!(typeof obj === 'object')) return obj;
  if("key" in obj) return obj["key"];
  if("id" in obj) return obj["id"];
  return "";
}

// Creates function that transforms data received from rest api
// to data that fits for pie chart.
function createPieDataTrans(labelSelector, colorSelector){
  return function(rawData){
    let res = {datasets:[{data:[], backgroundColor: []}], labels: []};

    if(rawData.length == 0) return res; 

    let countField = 'count';
    let labelField = (function(){let fields = new Set(Object.keys(rawData[0])); fields.delete(countField);return fields.values().next().value;})();
    
    let counts = rawData.map((sample) => sample[countField]);
    let labels = rawData.map((sample) => labelSelector(getKey(sample[labelField])));
    let colors = rawData.map((sample) => colorSelector(getKey(sample[labelField])));

    res.datasets[0].data = counts;
    res.datasets[0].backgroundColor = colors;
    res.labels = labels;

    return res;
  };
}


// Inits pie plot with given canvas and title
function initPiePlot(element, title) {
  let config = { type: 'pie', data: {},
			options: {
				responsive: true
			}
		};
  if(title != null) config.options.title = {display: true, text: title};
  return new Chart(element.getContext("2d"), config);
}

// Inits bar plot with given canvas and title
function initBarPlot(element, title) {
  let options = {
    type: "bar",
    data: [],
    options: {
      tooltips: {
        mode: "index",
        intersect: false,
      },
      responsive: true,
      scales: {
        xAxes: [
          {
            stacked: true,
          },
        ],
        yAxes: [
          {
            stacked: true,
          },
        ],
      },
    },
  };
  if(title != null) options.options.title={display:true, text: title};
  return new Chart(element.getContext("2d"), options);
}


</script>


<style>
</style>
