<template>
  <div class="container">
    <div class="form-group row">
      <label class="col-sm-auto col-form-label">Зона:</label>
      <div class="col">
        <ZoneSearcher
          ref="zoneSelector"
          v-on:zone-selected="showPlotsForZone"
        />
      </div>
    </div>
    <div class="row">
      <div class="col"><canvas ref="surveyPlotCanvas"></canvas></div>
      <div class="col"><canvas ref="mosaicPlotCanvas"></canvas></div>
    </div>
  </div>
</template>

<script>
import ZoneSearcher from "./ZoneSearcher.vue";
import axios from "axios";

export default {
  name: "StatisticsByYear",
  components: { ZoneSearcher },
  created: function () {
    this.surveyPlot = null;
    this.mosaicPlot = null;
  },
  data: function () {
    return {};
  },
  methods: {
    showPlotsForZone: function (zone) {
      const [surveyReqs, mosaicReqs] = prepareRequests(zone);

      let surveyData = {};
      let mosaicData = {};
      for (let req in surveyReqs) surveyData[req] = null;
      for (let req in mosaicReqs) mosaicData[req] = null;

      let createPlotter = function (data, plot) {
        for (let key in data) data[key] = null;
        let plotter = function (req, reqData) {
          data[req] = reqData;

          // Check if all necessary data is received
          let isReady = true;
          for (let key in data) isReady &= !(data[key] == null);
          if (!isReady) return;

          // Transform recieved data
          let plotData = rawDataToPlotData(data);

          // Update plot
          plot.data.labels = plotData.labels;
          plot.data.datasets = Object.values(plotData.datasets);
          plot.update();
        };
        return plotter;
      };

      let surveyPlotter = createPlotter(surveyData, this.surveyPlot);
      let mosaicPlotter = createPlotter(mosaicData, this.mosaicPlot);

      // Send requests to api
      for (let key in surveyReqs) {
        sendRequest(surveyReqs[key], key, surveyPlotter);
      }

      for (let key in mosaicReqs) {
        sendRequest(mosaicReqs[key], key, mosaicPlotter);
      }
    },
  },
  mounted: function () {
    let zone = this.$refs.zoneSelector.getSelectedZone();
    this.surveyPlot = initPlot(this.$refs.surveyPlotCanvas, "Съёмки");
    this.mosaicPlot = initPlot(this.$refs.mosaicPlotCanvas, "Мозаики");
    this.showPlotsForZone(zone);
  },
};

function prepareRequests(zone) {
  let survReqs = {};
  let mosaicReqs = {};
  if (zone == null || zone.id == -1) {
    survReqs.sss = "/api/statistics/surveys/years?type=sss";
    survReqs.mbes = "/api/statistics/surveys/years?type=mbes";
    mosaicReqs.sss = "/api/statistics/mosaics/years?type=sss";
    mosaicReqs.mbes = "/api/statistics/mosaics/years?type=mbes";
  } else {
    survReqs.sss = "/api/statistics/surveys/years?type=sss&parent=" + zone.id;
    survReqs.mbes = "/api/statistics/surveys/years?type=mbes&parent=" + zone.id;
    mosaicReqs.sss = "/api/statistics/mosaics/years?type=sss&parent=" + zone.id;
    mosaicReqs.mbes =
      "/api/statistics/mosaics/years?type=mbes&parent=" + zone.id;
  }
  return [survReqs, mosaicReqs];
}

function sendRequest(requestStr, key, callback) {
  axios
    .get(requestStr)
    .then(function (res) {
      callback(key, res.data);
    })
    .catch((err) => console.log(err));
}

// Converts survey(mosaic) type to russian
function typeToString(type) {
  switch (type) {
    case "sss":
      return "ГЛБО";
    case "mbes":
      return "МЛЭ";
    default:
      return type;
  }
}

function getRandomColor() {
  var letters = "0123456789ABCDEF".split("");
  var color = "#";
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}

function typeToColor(type) {
  switch (type) {
    case "sss":
      return "rgb(54, 162, 235)";
    case "mbes":
      return "rgb(255, 99, 132)";
    default:
      return getRandomColor();
  }
}

// Transform statistics to chart.js dataset
function prepareDataset(rawData, type, labels) {
  let dataset = {
    label: typeToString(type),
    backgroundColor: typeToColor(type),
    data: new Array(labels.length).fill(0),
  };
  for (const sample of rawData) {
    let index = labels.indexOf(sample.year);
    dataset.data[index] = sample.count;
  }
  return dataset;
}

// Transforms rest api statistics results to chart.js datasets
function rawDataToPlotData(rawData) {
  //Find labels(years)
  let labels = new Set();
  for (let req in rawData) {
    for (const sample of rawData[req]) labels.add(sample.year);
  }

  //Sort labels
  labels = [...labels];
  labels.sort((a, b) => a - b);

  //Prepare datasets
  let datasets = {};
  for (let key in rawData)
    datasets[key] = prepareDataset(rawData[key], key, labels);

  return { labels: labels, datasets: datasets };
}

// Inits plot with given canvas and title
function initPlot(element, title) {
  return new Chart(element.getContext("2d"), {
    type: "bar",
    data: [],
    options: {
      title: {
        display: true,
        text: title,
      },
      tooltips: {
        mode: "index",
        intersect: false,
      },
      responsive: true,
      scales: {
        xAxes: [
          {
            stacked: true,
          },
        ],
        yAxes: [
          {
            stacked: true,
          },
        ],
      },
    },
  });
}
</script>


<style>
</style>
