<template>
  <Searcher
    :done-interval="doneInterval"
    :search-functor="searchSurveys"
    :key-name-extractor="keyNameExtractor"
    :placeholder="'Поиск съёмок'"
    v-on:result-selected="handleSelect"
    ref="searcher"
  />
</template>

<script>
import axios from 'axios'

import Searcher from './Searcher.vue'

export default {
  name: 'SurveySearcher',
  components: { Searcher },
  props: {
    doneInterval: {
      default: 600,
      type: Number
    },
    hasAllResult: {
      default: true,
      type: Boolean
    },
    setAllAsDefault: {
      default: true,
      type: Boolean
    }
  },
  created: function () {
    this.allSurveys = { id: -1, name: 'Всe съёмки' }
  },
  mounted: function () {
    if (this.setAllAsDefault && this.hasAllResult) {
      this.$refs.searcher.setByRawResult(this.allSurveys)
    }
  },
  data: () => {
    return {
      results: []
    }
  },
  methods: {
    searchSurveys: function (surveyName, cb) {
      if (surveyName === '') {
        if (this.hasAllResult) cb([this.allSurveys])
        return
      }
      const cthis = this
      const surveyRequest = `/api/surveys?name=${surveyName}&limit=14`
      axios
        .get(surveyRequest)
        .then(function (res) {
          if (cthis.hasAllResult) res.data.unshift(cthis.allSurveys)
          cb(res.data)
        })
        .catch((err) => console.log(err))
    },
    keyNameExtractor: function (survey) {
      return { key: survey.id, name: survey.name }
    },
    handleSelect: function (res) {}
  }
}
</script>

<style>
</style>
