<template>
  <div id="map" />
</template>

<script>
import L from 'leaflet'

import { createColorMap } from './../marine_utils.js'

import { getZoneRep } from '../repositories/zone_rep'
import { getSssMbesTypeRep } from '../repositories/sssmbes_type_rep'
import { getMosaicTypeRep } from '../repositories/mosaic_type_rep'
import { getMosaicReqBuilder, getMosaicRep } from '../repositories/mosaic_rep'
import { getSssMbesToolRep } from '../repositories/tool_rep'

import { getSssMbesSurveyReqBuilder, getSssMbesSurveyRep } from '../repositories/sssmbes_survey_rep'

import { getStatRep } from '../repositories/stat_rep'

// Function Download
function download (url) {
  const a = document.createElement('A')
  a.href = url
  // a.download = file_path.substr(file_path.lastIndexOf('/') + 1);
  a.target = '_blank'
  document.body.appendChild(a)
  a.click()
  document.body.removeChild(a)
}

function getToolName (tool) {
  return [tool.brand, tool.model].filter(el => el != null).join(' ')
}

// Swaps latitude and logtitude in polygon.
function invertPolygon (polygon) {
  const invPoly = []
  for (const poly of polygon) {
    const subPoly = []
    for (const point of poly) {
      subPoly.push([point[1], point[0]])
    }
    invPoly.push(subPoly)
  }
  return invPoly
}

// Finds polygon's bounds.
function findBounds (polygon) {
  let minLatt = 1000
  let minLong = 1000
  let maxLat = -1000
  let maxLong = -1000
  for (const poly of polygon) {
    for (const point of poly) {
      minLatt = Math.min(minLatt, point[0])
      minLong = Math.min(minLong, point[1])
      maxLat = Math.max(maxLat, point[0])
      maxLong = Math.max(maxLong, point[1])
    }
  }
  return [
    [minLatt, minLong],
    [maxLat, maxLong]
  ]
}

// Generate random color.
// function getRandColor () {
//   const r = Math.floor(Math.random() * 255)
//   const g = Math.floor(Math.random() * 255)
//   const b = Math.floor(Math.random() * 255)
//   return 'rgb(' + r + ' ,' + g + ',' + b + ')'
// }

// Determines entity type
function getEntityType (entity) {
  if ('creationDate' in entity) return 'mosaic'
  if ('startDate' in entity) return 'survey'
  return 'unknown'
}

// Returns promise with found entities
function searchSurveyMosaic (entityType, opts) {
  if (![1, 2, '1', '2'].includes(entityType)) { return new Promise((resolve, reject) => { resolve(null) }) }

  if (entityType === 1) {
    const survRep = getSssMbesSurveyRep()
    return survRep.getList(opts)
  } else {
    const mosaicRep = getMosaicRep()
    return mosaicRep.getList(opts)
  }
}

// Search years that have entities associated with them
function searchYears (entityType, zone) {
  if (![1, 2, '1', '2'].includes(entityType)) return new Promise((resolve, reject) => { resolve(null) })

  const statRep = getStatRep()
  let opts = {}
  if (zone != null && zone !== -1) opts = { parent: zone }
  if (entityType === 1) {
    return statRep.getSssMbesSurveysByYear(opts).then(data => data.map(d => d.year))
  } else {
    return statRep.getMosaicsByYear(opts).then(data => data.map(d => d.year))
  }
}

export default {
  name: 'SurveyMosaicMap',
  components: {},
  props: {
    zone: {
      // default: null, // null - All zones
      type: Number
    },
    defaultEntityType: {
      default: 1, // 1 - survyes, 2 - mosaics
      type: Number
    },
    // Function that returns promise with found entities
    searchEntities: {
      default: searchSurveyMosaic,
      type: Function
    },
    // Function that returns promise with found years for pair (entityType, zoneId)
    searchYears: {
      default: searchYears,
      type: Function
    }
  },
  data: function () {
    return {}
  },
  methods: {
    // Adds entities (surveys or mosaics) to the map
    async addEntitiesToMap () {
      if (this.entities.length) {
        const entityType = getEntityType(this.entities[0])
        const getTool = function (entity) { return entityType === 'survey' ? entity.tool : entity.mainTool }

        this.entityLayers = []
        for (const entity of this.entities) {
          const tool = getTool(entity)
          const color = tool.mapColor != null ? tool.mapColor : this.toolColorMap.get(tool.id)
          const polygon = L.polygon(invertPolygon(entity.area.coordinates), { color: color })
          const cmenu = await this.buildContextMenu(entity)

          polygon.bindContextMenu(cmenu)
          polygon.bindTooltip(entity.name, { sticky: true })
          polygon.addTo(this.map)
          this.entityLayers.push(polygon)
        }
      }
    },
    // Remove entitis from the map
    removeEntitiesFromMap () {
      for (let i = 0; i < this.entityLayers.length; ++i) {
        this.entityLayers[i].remove()
      }
      this.entityLayers = []
    },
    hideMosaicSelectors () {
      this.mosaicYearSelector.style.display = 'none'
      this.mosaicTypeSelector.style.display = 'none'
      this.mosaicToolSelector.style.display = 'none'
      this.mosaicDirectionSelector.style.display = 'none'
    },
    showMosaicSelectors () {
      this.mosaicYearSelector.style.display = 'block'
      this.mosaicTypeSelector.style.display = 'block'
      this.mosaicToolSelector.style.display = 'block'
      this.mosaicDirectionSelector.style.display = 'block'
    },
    hideSurveySelectors () {
      this.surveyYearSelector.style.display = 'none'
      this.surveyTypeSelector.style.display = 'none'
      this.surveyToolSelector.style.display = 'none'
      this.surveyDirectionSelector.style.display = 'none'
    },
    showSurveySelectors () {
      this.surveyYearSelector.style.display = 'block'
      this.surveyTypeSelector.style.display = 'block'
      this.surveyToolSelector.style.display = 'block'
      this.surveyDirectionSelector.style.display = 'block'
    },
    // Create <select> elements and adds them to the map
    createSelectors () {
      // Function that adds control to the top-right corner of map
      const addControl = function (selectEl, map) {
        const control = new L.Control({ position: 'topright' })
        control.onAdd = () => selectEl
        control.addTo(map)
      }

      // Create and add controls for surveys and mosaics
      this.entityTypeSelector = document.createElement('select')
      this.entityTypeSelector.innerHTML = '<option selected value="1">Съёмки</option><option value="2">Мозайки</option>'
      addControl(this.entityTypeSelector, this.map)

      this.surveyYearSelector = document.createElement('select')
      addControl(this.surveyYearSelector, this.map)

      this.surveyTypeSelector = document.createElement('select')
      this.surveyTypeSelector.innerHTML = '<option selected value="-1">Методы</option>'
      addControl(this.surveyTypeSelector, this.map)

      this.surveyToolSelector = document.createElement('select')
      this.surveyToolSelector.innerHTML = '<option selected value="-1">Зонды</option>'
      addControl(this.surveyToolSelector, this.map)

      this.surveyDirectionSelector = document.createElement('select')
      this.surveyDirectionSelector.innerHTML = '<option selected value="-1">Направления</option>'
      addControl(this.surveyDirectionSelector, this.map)

      this.mosaicYearSelector = document.createElement('select')
      addControl(this.mosaicYearSelector, this.map)

      this.mosaicTypeSelector = document.createElement('select')
      this.mosaicTypeSelector.innerHTML = '<option selected value="-1">Методы</option>'
      addControl(this.mosaicTypeSelector, this.map)

      this.mosaicToolSelector = document.createElement('select')
      this.mosaicToolSelector.innerHTML = '<option selected value="-1">Зонды</option>'
      addControl(this.mosaicToolSelector, this.map)

      this.mosaicDirectionSelector = document.createElement('select')
      this.mosaicDirectionSelector.innerHTML = '<option selected value="-1">Направления</option>'
      addControl(this.mosaicDirectionSelector, this.map)
    },
    // Fetches entities according to selected options
    fetchEntities () {
      const entityType = this.entityTypeSelector.value
      let opts = {}
      if (entityType === 1) {
        const year = this.surveyYearSelector.value
        let type = this.surveyTypeSelector.value
        if (type === -1) type = null
        let tool = this.surveyToolSelector.value
        if (tool === -1) tool = null
        let dir = this.surveyDirectionSelector.value
        if (dir === -1) dir = null
        opts = { year: year, type: type, tool: tool, direction: dir }
      } else {
        const year = this.mosaicYearSelector.value
        let type = this.mosaicTypeSelector.value
        if (type === -1) type = null
        let mainTool = this.mosaicToolSelector.value
        if (mainTool === -1) mainTool = null
        let dir = this.mosaicDirectionSelector.value
        if (dir === -1) dir = null
        opts = { year: year, type: type, mainTool: mainTool, inputDirection: dir }
      }
      return this.searchEntities(entityType, opts)
    },
    // Addes listeners on change <select> value
    addEventListeners () {
      this.entityTypeSelector.addEventListener('change', this.onEntityTypeChange)

      this.surveyYearSelector.addEventListener('change', this.onSurveyYearChange)
      this.surveyTypeSelector.addEventListener('change', this.onTypeToolDirChange)
      this.surveyToolSelector.addEventListener('change', this.onTypeToolDirChange)
      this.surveyDirectionSelector.addEventListener('change', this.onTypeToolDirChange)

      this.mosaicYearSelector.addEventListener('change', this.onMosaicYearChange)
      this.mosaicTypeSelector.addEventListener('change', this.onTypeToolDirChange)
      this.mosaicToolSelector.addEventListener('change', this.onTypeToolDirChange)
      this.mosaicDirectionSelector.addEventListener('change', this.onTypeToolDirChange)
    },
    // Handles entity type change
    onEntityTypeChange () {
      if (this.entityTypeSelector.value === 1) {
        this.hideMosaicSelectors()
        this.showSurveySelectors()
      } else {
        this.hideSurveySelectors()
        this.showMosaicSelectors()
      }

      this.removeEntitiesFromMap()
      const that = this
      this.fetchEntities().then((res) => {
        that.entities = res
        that.addEntitiesToMap()
      })
    },
    // Handles survey active year change
    onSurveyYearChange () {
      this.removeEntitiesFromMap()

      const that = this
      // Update <select> elements (type, tool, direction) according to surveys available for selected year,
      // then fetches surveys and adds them to the map
      this.setSurveySelectors()
        .then(() => { return that.fetchEntities() })
        .then((res) => {
          that.entities = res
          that.addEntitiesToMap()
        })
    },
    // Handles mosaic active year change
    onMosaicYearChange () {
      this.removeEntitiesFromMap()

      const that = this
      // Update <select> elements (type, tool, direction) according to surveys available for selected year,
      // then fetches mosaics and adds them to the map
      this.setMosaicSelectors()
        .then(() => { return that.fetchEntities() })
        .then((res) => {
          that.entities = res
          that.addEntitiesToMap()
        })
    },
    // Handles type, tool or direction change
    onTypeToolDirChange () {
      this.removeEntitiesFromMap()
      const that = this
      this.fetchEntities().then((res) => {
        that.entities = res
        that.addEntitiesToMap()
      })
    },
    // Initializes options of <select> elements
    initSelectors () {
      return [this.initSurveySpecificSelectors(), this.initMosaicSpecificSelectors()]
    },
    // Initializes options of survey specific <select> elements
    async initSurveySpecificSelectors () {
      // Find years
      const years = await this.searchYears(1, this.zone)
      years.sort()

      const zoneObj = await this.zoneRep.getById(this.zone)

      // Find active year
      let activeYear = Math.max(...years)
      if (zoneObj && years.includes(zoneObj.defaultYear)) {
        activeYear = zoneObj.defaultYear
      }

      // Init year selector
      for (const year of years) {
        const opt = document.createElement('option')
        opt.value = year
        opt.innerHTML = year
        if (year === activeYear) opt.selected = true
        this.surveyYearSelector.appendChild(opt)
      }

      return this.setSurveySelectors()
    },
    // Initializes options of mosaic specific <select> elements
    async initMosaicSpecificSelectors () {
      // Find years that have mosaics
      const years = await this.searchYears(2, this.zone)
      years.sort()

      const zoneObj = await this.zoneRep.getById(this.zone)

      // Find active year
      let activeYear = Math.max(...years)
      if (zoneObj && years.includes(zoneObj.defaultYear)) {
        activeYear = zoneObj.defaultYear
      }

      // Init year selector
      for (const year of years) {
        const opt = document.createElement('option')
        opt.value = year
        opt.innerHTML = year
        if (year === activeYear) opt.selected = true
        this.mosaicYearSelector.appendChild(opt)
      }

      return this.setMosaicSelectors()
    },
    // Sets options of type, tool and direction selectors
    async setSurveySelectors () {
      //  Get active year
      const activeYear = this.surveyYearSelector.value

      // Get survey types, tools and directions that have surveys made in the active year
      const survRep = getSssMbesSurveyRep()
      const uniques = await survRep.getUniques({ parent: this.zone, year: activeYear })

      // Find types, tools and directions among surveys
      const types = uniques.types

      const tools = uniques.tools
      tools.sort((a, b) => getToolName(a).localeCompare(getToolName(b)))

      const directions = uniques.directions

      // Init type, tool and direction selectors
      this.surveyTypeSelector.innerHTML = '<option selected value="-1">Методы</option>'
      for (const type of types) {
        const opt = document.createElement('option')
        opt.value = type.key
        opt.innerHTML = type.name
        this.surveyTypeSelector.appendChild(opt)
      }

      this.surveyToolSelector.innerHTML = '<option selected value="-1">Зонды</option>'
      for (const tool of tools) {
        const opt = document.createElement('option')
        opt.value = tool.id
        opt.innerHTML = getToolName(tool)
        opt.tool = tool
        this.surveyToolSelector.appendChild(opt)
      }

      this.surveyDirectionSelector.innerHTML = '<option selected value="-1">Направления</option>'
      for (const dir of directions) {
        const opt = document.createElement('option')
        opt.value = dir
        opt.innerHTML = dir
        this.surveyDirectionSelector.appendChild(opt)
      }
    },
    // Sets options of type, tool and direction selectors
    async setMosaicSelectors () {
      // Get active year
      const activeYear = this.mosaicYearSelector.value

      // Find surveys for triple (surveyType, zone, year)
      const survRep = getMosaicRep()
      const uniques = await survRep.getUniques({ parent: this.zone, year: activeYear })

      // Find types, tools and directions among surveys
      const types = uniques.types

      const tools = uniques.mainTools
      tools.sort((a, b) => getToolName(a).localeCompare(getToolName(b)))

      const directions = uniques.inputDirections

      // Init type, tool and direction selectors
      this.mosaicTypeSelector.innerHTML = '<option selected value="-1">Методы</option>'
      for (const type of types) {
        const opt = document.createElement('option')
        opt.value = type.key
        opt.innerHTML = type.name
        this.mosaicTypeSelector.appendChild(opt)
      }

      this.mosaicToolSelector.innerHTML = '<option selected value="-1">Зонды</option>'
      for (const tool of tools) {
        const opt = document.createElement('option')
        opt.value = tool.id
        opt.innerHTML = getToolName(tool)
        opt.tool = tool
        this.mosaicToolSelector.appendChild(opt)
      }

      this.mosaicDirectionSelector.innerHTML = '<option selected value="-1">Направления</option>'
      for (const dir of directions) {
        const opt = document.createElement('option')
        opt.value = dir
        opt.innerHTML = dir
        this.mosaicDirectionSelector.appendChild(opt)
      }
    },
    // Builds context menu for entity
    async buildContextMenu (entity) {
      const entityType = getEntityType(entity)
      let reqBuilder = null
      if (entityType === 'survey') reqBuilder = getSssMbesSurveyReqBuilder()
      else reqBuilder = getMosaicReqBuilder()

      const cmenu = {
        contextmenu: true,
        contextmenuInheritItems: false,
        hideOnSelect: true,
        contextmenuItems: []
      }
      // Add name of entity
      cmenu.contextmenuItems.push({ text: entity.name })
      cmenu.contextmenuItems.push({ separator: true })

      // Add type
      let typeRep = null
      if (entityType === 'survey') {
        typeRep = this.survTypeRep
      } else typeRep = this.mosaicTypeRep
      cmenu.contextmenuItems.push({ text: 'Тип: ' + (typeRep.getByKey(entity.type)).name })

      // Add tool
      const tool = entityType === 'survey' ? entity.tool : entity.mainTool
      cmenu.contextmenuItems.push({ text: 'Зонд: ' + getToolName(tool) })
      // Add direction
      const dir = entityType === 'survey' ? entity.direction : entity.inputDirection
      cmenu.contextmenuItems.push({ text: 'Направленность: ' + dir })
      // If entity is downloadable then add link for downloading
      if (entity.isDownloadable) {
        cmenu.contextmenuItems.push({ text: 'Скачать файл', callback: function () { download(reqBuilder.getFileDownloadLink(entity.id)) } })
        if (entity.archSize) {
          cmenu.contextmenuItems.push({ text: 'Скачать архив', callback: function () { download(reqBuilder.getArchDownloadLink(entity.id)) } })
        }
      }
      return cmenu
    }
  },
  created () {
    console.log(this.zone)
    // Defining private fields

    // Leaflet map
    this.map = null
    // Select element for entity type
    this.entityTypeSelector = null

    // Select element for year selection
    this.surveyYearSelector = null
    // Select DOM element for survey type selection
    this.surveyTypeSelector = null
    this.surveyToolSelector = null
    // Selection of survey direction
    this.surveyDirectionSelector = null

    // Select element for mosaic year
    this.mosaicYearSelector = null
    this.mosaicTypeSelector = null
    this.mosaicToolSelector = null
    this.mosaicDirectionSelector = null

    // Repository for zones
    this.zoneRep = getZoneRep()

    // Repository for survey types
    this.survTypeRep = getSssMbesTypeRep()
    // Repository for mosaic types
    this.mosaicTypeRep = getMosaicTypeRep()

    // Repository for tools
    this.toolRep = getSssMbesToolRep()
    // Color mapper for tools, that are initialized in mount hook
    this.toolColorMap = null

    // Array of surveys or mosaics
    this.entities = []
    this.entityLayers = []
  },

  async mounted () {
    console.log(this.zone)
    // Initialize map
    this.map = L.map('map', { zoomControl: false }).setView([66.529, 33.239], 8)
    const that = this
    this.map.on('click', function () { that.map.contextmenu.hide() })

    // Add tile layer
    const osm = new L.TileLayer(
      'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
    )
    const baseLayerGroup = new L.LayerGroup()
    baseLayerGroup.addLayer(osm)
    baseLayerGroup.addTo(this.map)

    // Set bounds to fit zone area
    const zone = await this.zoneRep.getById(this.zone)
    if (zone == null) {
      this.map.fitWorld()
    } else {
      const bounds = findBounds(zone.area.coordinates)
      bounds[0].reverse()
      bounds[1].reverse()
      this.map.fitBounds(bounds)
    }

    // Create selectors
    this.createSelectors()
    // Hide mosaic selectors
    this.hideMosaicSelectors()

    // Init color mapper for tools
    this.toolColorMap = createColorMap(this.toolRep.getIds())

    // Init selectors with default values
    const [survProm, mosaicProm] = this.initSelectors()
    // Wait when survey <select> elements are initialized,
    // because we use their values for fetching surveys
    await Promise.all([survProm, mosaicProm])

    this.entities = await this.fetchEntities()
    // Add surveys to map
    this.addEntitiesToMap()
    // Add event listeners for <select> elements
    this.addEventListeners()
  }
}
</script>

<style>
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

#map {
  height: 100%;
}
</style>
