<template>
    <div>
        <b-form-select v-model="selectedLayer" :options="availLayers" v-on:change='$emit("tileLayerChanged", selectedLayer)'></b-form-select>
    </div>
</template>

<script>
import { LControl } from 'vue2-leaflet'

export default {
  name: 'TileLayerControl',
  mixins: [LControl],
  props: {},
  data () {
    return {
      selectedLayer: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      availLayers: [
        { value: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', text: 'OpenStreetMap.Mapnik' },
        { value: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', text: 'Esri.WorldImagery' }
      ]
    }
  },
  // created () {
  //   this.selectedLayer = this.availLayers[0].value
  // }
}
</script>
