<template>
  <Searcher
    :done-interval="doneInterval"
    :search-functor="searchZones"
    :key-name-extractor="keyNameExtractor"
    :placeholder="'Поиск зоны'"
    v-on:result-selected="handleSelect"
    ref="searcher"
  />
</template>

<script>
import axios from 'axios'

import Searcher from './Searcher.vue'

export default {
  name: 'ZoneSearcher',
  components: { Searcher },
  props: {
    doneInterval: {
      default: 600,
      type: Number
    },
    hasAllResult: {
      default: true,
      type: Boolean
    },
    setAllAsDefault: {
      default: true,
      type: Boolean
    }
  },
  created: function () {
    this.allZones = { id: -1, name: 'Всe зоны' }
  },
  mounted: function () {
    if (this.setAllAsDefault && this.hasAllResult) {
      this.$refs.searcher.setByRawResult(this.allZones)
    }
  },
  data: () => {
    return {}
  },
  methods: {
    searchZones: function (zoneName, callback) {
      if (zoneName == '') {
        if (this.hasAllResult) callback([this.allZones])
        return
      }

      const cthis = this
      const zoneRequest = `/api/zones?name=${zoneName}&limit=14`
      axios
        .get(zoneRequest)
        .then(function (res) {
          if (cthis.hasAllResult) res.data.unshift(cthis.allZones)
          callback(res.data)
        })
        .catch((err) => console.log(err))
    },
    keyNameExtractor: function (zone) {
      return { key: zone.id, name: zone.name }
    },
    handleSelect: function (res) {
      this.$emit('zone-selected', res)
    },
    getSelectedZone: function () {
      return this.$refs.searcher.getSelectedValue()
    }
  }
}
</script>

<style>
</style>
