#text {}
.hotspot {cursor:pointer;}
#tt {
    position:absolute;
    z-index: 1000;
    height: avto;
    margin-left: -118px;
}

#tttop {
    display:block; 
//    background: url('images/Controlled_top55ps.png') no-repeat center top;
    height: 9px;
    width: 129px;
    margin-top: -5px;
    overflow:hidden
}

#ttcont {
    display:block; 
//    background: url('images/Controlled_center55ps.png') repeat-y top left;
    height: auto;
    width: 129px;
    margin-top: 0px;
    padding: 0 26px 0 26px;
    color:#0000ed;
    text-shadow: rgba(0,0,0,.4) 0px 1px 0px;
    font-size: 18px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-style: Italic;
}

#ttcont h2{
    color: #dde6ed;
    font-size:28px;
    text-shadow: rgba(0,0,0,.4) 0px 1px 0px;
    border-bottom: 1px dotted #dde6ed; 
    padding: 3px 0px;
}


#ttcont img{
    background: #f7f4f1; 
    padding: 9px; 
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}


#ttbot {
    display:block; 
//    background-image: url('images/Controlled_bottom55ps.png'); 
    margin-top: -1px;
    height: 9px;
    width: 129px;
    overflow:hidden
    }